<link rel="stylesheet" href="/content/css/slick.css">
<style>
    .breadcrumbs {
    display: none;
}
.body.page h1 {
    display: none;
}
.css-1hcx8jb {
    display: none !important;
    font-size: 12px;
}
.page-heading {
    padding-top: 4vh;
}
@media (min-width: 801px) and (max-width:1149px) {
    .body.page {
        margin-top: 2.5rem !important;
    }
}
.body.page {
  padding: 0 !important;
}
p {
  /* margin: 0 !important; */
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: mensden;
}
.body.page .container {
  max-width: 100% !important;
  padding: 0px !important;
}
.page {
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  max-width: 100% !important;
}
.page-content.page-content--centered {
  padding: 0 !important;
  width: 100% !important;
}
.body.page .page-content p:first-child {
  /* display: none; */

}
</style>




<style>
  .mobilePopup {
    position: absolute;
    height: 100vh;
    z-index: 1111;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: all .4s ease;
    max-height: 0;
    overflow: hidden;
  }
  .mobilePopup1 {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .bookingButton {
    background-color: rgba(0, 108, 255, 1);
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
  }
  .bookingButton1 {
    border:1px solid rgba(0, 108, 255, 1);
    color: rgba(0, 108, 255, 1);
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none;
  }
  .bookingTitle {
    font-weight: 500;
    font-size: 24px;
    color: black;
  }
  .bookingLoadbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 25px;
  }
  .bookingLoad {
    height: 3px;
    width: 100%;
    background-color: #D9D9D9;
  }
  .bookingLoad.loaded {
    background-color: #006CFF;
  }
  .non-active {
    display: none;
  }
  .active {
    display: block;
  }
  .addNames {
    width: 30px;
    height: 30px;
  }
  .addNames .display_name {
    width: 20px;
    height: 20px;
  }
  .addNames .display_name:last-child {
    position: relative;
    top: -10px;
    right: -10px;
    border: 1px solid white;
  }
  .addNames1 {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 10px;
    border: 1px solid #D9D9D9;
    /* display: flex;
    gap: 40px;
    align-items: center; */
  }
  .salonist {
    height: fit-content;
    width: fit-content;
    color: black;
  }
  .display_name {
    background-color: #006CFF;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bookingButton1.loaded {
    border: 2px solid #006CFF;
  }
  .arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #006CFF;
    border-radius: 5px;
  }
  .arrow use {
    fill: #006CFF;
  }
  .arrow.disabled {
    border: 1px solid #D9D9D9;
    
  }
  .arrow.disabled use {
    fill: #D9D9D9;
  }

  .calendarTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
  }
  .serviceBooking {
    overflow: auto;
  }
  .calendarMain {
    margin-top: 10px;
  }
  .calendarMain .weeks {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
  }
  .calendarMain .days {
    display: flex;
    flex-wrap: wrap;
  }
  .calendarMain .days li {
    cursor: pointer;
    padding: 5px;
    z-index: 1;
    position: relative;
    margin-top: 5px;
    color: #006CFF;
    font-weight: 500;
  }
  .calendarMain .days li::before {
     position: absolute;
     content: "";
     height: 30px;
     width: 30px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 50%;
     border: #006CFF 1px solid;
     z-index: -1;
  }
  .calendarMain .days .selected::before {
    background-color: #006CFF;
    
  }
  .calendarMain .days .selected {
    color: white;
  }
  .calendarMain ul {
    list-style: none;
  }
  .calendarMain ul li {
    width: calc(100%/7);
  }
</style>
<img src="/content/images/marketing/prof-acc/thumbnail.jpg" alt="thumbnail" style="width:0px;height:0px;opacity:0"/>
<section style="width: 90%; margin: auto; color: black;">
    <div style="text-align: center;">
      <h2 class="bookingTitle">Welcome To GTA Online Booking System</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Lorem nibh feugiat egestas sit mattis scelerisque nibh felis. Online booking Directly Or call: (905) 917-1805</p>
    </div>

    <div>

    </div>

    <div style="text-align: center; border-top: 1px solid rgba(187, 187, 187, 1); border-bottom: 1px solid rgba(187, 187, 187, 1); padding: 20px 0;">
      <h2 class="bookingTitle" style="margin: 0;">Let's Book Now!</h2>
      <p style="font-weight: 500; padding: 10px 0; width: 80%; text-align: center; margin: auto;">Save Time And Money With Our Booking System</p>
      <button class="buttonApt bookingButton">Book Appointment</button>
    </div>
    <div style="text-align: center; margin: 20px 0;">
      <p>Want to cancel your appointment?</p>
        <a href="mailto:sales@superhairpieces.com">
          <button class="bookingButton1">
            Email Us
          </button></a>
    </div>

    <div class="mobilePopup">
      <div class="mobilePopup1">
        <div class="bookingLoadbar">
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
        </div>
        <div class="mobileMain mobileInitial non-active" style="display: none;">
          <p>Is this your first service appointment with Superhairpieces?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id="1" class="bookingButton">Yes</button>
            <button id="2" class="bookingButton">No, I'd like to sign in / sign up</button>
          </div>
        </div>
        <div id="service1" class="mobileMain mobileService non-active">
          <p>Which service do you need?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id='mens' class="bookingButton1">Men services</button>
            <button id="womens" class="bookingButton1">Women services</button>
            <button id="consultation" class="bookingButton1">Consultation</button>
          </div>
        </div>
        <div id="system1" class="mobileMain mobileSystem non-active">
          <p>Do you have any hair systems?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id="systemYes" class="bookingButton">Yes</button>
            <button id="systemBuy" class="bookingButton">No, Let's buy one</button>
          </div>
        </div>
        <div id="service2" class="mobileMain mobileService2 non-active">
          <p>What service do you need?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id="Installation" class="bookingButton">Installation</button>
            <button id="Maintenance" class="bookingButton">Maintenance</button>
          </div>
          <p>Don't know what to do? Let's listen to our expert advices</p>
          <button id="serviceCons" class="bookingButton">Consultation</button>
        </div>
        <div id="service3" class="mobileMain mobileService3 non-active">
          <p>Do you require color on your own hair?<span id="change"></span></p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button class="bookingButton">Yes</button>
            <button class="bookingButton">No</button>
          </div>
        </div>
        <div id="serviceBooking" class="mobileMain serviceBooking non-active active">
          <div>
            <p>Hair Stylist</p>
            <div class="staffMembers">
                <div class="bookingButton1 addNames1 loaded">
                  <span class="addNames"></span>
                  <div class="salonist">Any Available Staff Member</div></div>
            </div>
          </div>
          <p>Select your preferred date and time</p>  
          <div>
            <div class="calendarTop">
              <svg class="arrow disabled prev-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
              </svg>
              <p class="calendarMonth" style="margin: unset;"></p>
              <svg class="arrow next-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
              </svg>
            </div>
            <div class="calendarMain">
              <ul class="weeks">
                <li>S</li>
                <li>M</li>
                <li>T</li>
                <li>W</li>
                <li>Th</li>
                <li>F</li>
                <li>S</li>
              </ul>
              <ul class="days">

              </ul>
            </div>
          </div>
        </div>
        <div>
          <button class="mobileCancel">Cancel</button>
          <p>Any Questions?</p>
          <p>Please Call: (905) 917-1805</p>
        </div>
      </div>

    </div>


</section>
<script>
  let date = new Date();
  let currYear = date.getFullYear();
  let currMonth = date.getMonth();
  
  function calendarChange() {
    let letfirstDayofMonth = new Date(currYear, currMonth,1).getDate();
    let lastDateofMonth = new Date(currYear, currMonth + 1,0).getDate();
    let lastDateofLastMonth = new Date(currYear, currMonth + 1,0).getDate();

    const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'Septemeber', 'October', 'November', 'December']


    $('.calendarMonth').html(`
      ${months[currMonth]} ${currYear}
    `)
    let change =''
    for (let i=1; i<=lastDateofMonth;i++ ) {
      change += `
        <li>${i}</li>
      `
    }
    $('.calendarMain .days').html(`${change}`)
  }

  window.addEventListener('DOMContentLoaded', function() {
    let serviceGender = '';
    let serviceType = '';
    let color = true;

    calendarChange() 

    $('.calendarTop .next-arrow').on('click', function() {
      currMonth = currMonth + 1
      calendarChange()
    })
    $('.calendarTop .prev-arrow').on('click', function() {
      currMonth = currMonth - 1
      calendarChange()
    })
    fetch(`https://shp-webserver-temp.glitch.me/squareup-bookings1`, {
        method: 'POST',
        headers: {
            accept: "application/json",
            "content-type": "application/json"
        }
    })
    .then(r=>r.json())
    .then(r=> {
      r.team_member_booking_profiles.forEach(item => {
        $('.addNames').append(`
        <span class=display_name>${Array.from(item.display_name)[0]}</span>
        `)
        $('.staffMembers').append(`
        
        <div class='bookingButton1 addNames1'>
          <span class=display_name>${Array.from(item.display_name)[0]}</span>
          <div class=salonist>${item.display_name}</div>
          </div>`)
      });
    })
    fetch('https://shp-webserver-temp.glitch.me/sq-availability', {
      method: 'POST',
      headers: {
            accept: "application/json",
            "content-type": "application/json"
        }
    })
    .then(r=>r.json())
    .then(r=> {
      console.log(r)
    })


    $('.buttonApt').on('click', ()=> {

      let setheight = $('.page').height();
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
      $('.mobileInitial').addClass('active')

        $('.mobilePopup').css('max-height', `${setheight}px`);
    })
    $('.mobileCancel').on('click', () => {
      $('.bookingLoad').removeClass('loaded')
      $('.mobilePopup').css('max-height', '0');
      $('.mobileMain').removeClass('active');
      $('.mobileInitial').addClass('active')

    })
    $('#1').on('click', () => {
      $('.mobileInitial').removeClass('active')
      $('.mobileService').addClass('active')
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
    })
    $('.mobileService .bookingButton1').on('click', (e) => {
      e.preventDefault();
      serviceGender = e.target.id;
      if (serviceGender == 'mens' || serviceGender == 'womens') {
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
      $('.mobileService').removeClass('active');
        $('.mobileSystem').addClass('active');
      }
    })
    $('#systemYes').on('click', () => {
      $('.mobileSystem').removeClass('active');
      $('.mobileService2').addClass('active');
    })
    $('.mobileService2 .bookingButton').on('click', (e) => {
      e.preventDefault();
      serviceType = e.target.id;
      if (serviceType == 'Installation' || serviceType == 'Maintenance') {
      $('.mobileService2').removeClass('active');
      $('.mobileService3').addClass('active');
      $('#change').append(`
        (${serviceType} + color) 
      `)
      }
      
    })
    $('.mobileService3 .bookingButton').on('click', (e) => {
      e.preventDefault();
      e.target.innerHTML == 'Yes' ? color=true : color=false;
      $('.mobileService3').removeClass('active');
      $('.serviceBooking').addClass('active');
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
      
    })

  })
</script>