<link rel="stylesheet" href="/content/css/slick.css">
<style>
    .breadcrumbs {
    display: none;
}
.body.page h1 {
    display: none;
}
.css-1hcx8jb {
    display: none !important;
    font-size: 12px;
}
.page-heading {
    padding-top: 4vh;
}
@media (min-width: 801px) and (max-width:1149px) {
    .body.page {
        margin-top: 2.5rem !important;
    }
}
.body.page {
  padding: 0 !important;
}
p {
  /* margin: 0 !important; */
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: mensden;
}
.body.page .container {
  max-width: 100% !important;
  padding: 0px !important;
}
.page {
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  max-width: 100% !important;
}
.page-content.page-content--centered {
  padding: 0 !important;
  width: 100% !important;
}
.body.page .page-content p:first-child {
  /* display: none; */

}
</style>




<style>
  .mobilePopup {
    position: absolute;
    height: 100vh;
    z-index: 1111;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: all .4s ease;
    max-height: 0;
    overflow: hidden;
  }
  .mobilePopup1 {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .serviceList {
    position: absolute;
    height: 100vh;
    /* z-index: 1111; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: all .4s ease;
    max-height: 0;
    overflow: hidden;
  }
  .bookingButton {
    background-color: rgba(0, 108, 255, 1);
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
  }
  .bookingButton1 {
    border:1px solid rgba(0, 108, 255, 1);
    color: rgba(0, 108, 255, 1);
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none;
  }
  .bookingTitle {
    font-weight: 500;
    font-size: 24px;
    color: black;
  }
  .bookingLoadbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 25px;
  }
  .bookingLoad {
    height: 3px;
    width: 100%;
    background-color: #D9D9D9;
  }
  .bookingLoad.loaded {
    background-color: #006CFF;
  }
  .non-active {
    display: none;
  }
  .active {
    display: block;
  }
  .addNames {
    width: 30px;
    height: 30px;
  }
  .addNames .display_name {
    width: 20px;
    height: 20px;
  }
  .addNames .display_name:last-child {
    position: relative;
    top: -10px;
    right: -10px;
    border: 1px solid white;
  }
  .addNames1 {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 10px;
    border: 1px solid #D9D9D9;
    cursor: pointer;
  }
  .bookingButton1.addNames1:not(.loaded):hover {
    border: 1px solid rgba(0, 106, 255, 0.72)
  }
  .salonist {
    height: fit-content;
    width: fit-content;
    color: black;
  }
  .display_name {
    background-color: #006CFF;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bookingButton1.loaded {
    border: 2px solid #006CFF;
  }
  .arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #006CFF;
    border-radius: 5px;
  }
  .arrow use {
    fill: #006CFF;
  }
  .arrow.disabled {
    border: 1px solid #D9D9D9;
    
  }
  .arrow.disabled use {
    fill: #D9D9D9;
  }

  .calendarTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
  }
  .serviceBooking {
    overflow: auto;
  }
  .calendarMain {
    margin-top: 10px;
  }
  .calendarMain .weeks {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
  }
  .calendarMain .days {
    display: flex;
    flex-wrap: wrap;
  }
  .calendarMain .days li {
    cursor: pointer;
    padding: 5px;
    z-index: 1;
    position: relative;
    margin-top: 5px;
    /* color: #006CFF; */
    font-weight: 500;
  }
  .calendarMain .days li::before {
     position: absolute;
     content: "";
     height: 30px;
     width: 30px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 50%;
     border: #006CFF 1px solid;
     z-index: -1;
  }
  .calendarMain .days .selected::before {
    background-color: #006CFF;
  }
  .calendarMain .days .selected {
    color: white !important;
  }
  .calendarMain ul {
    list-style: none;
  }
  .calendarMain ul li {
    width: calc(100%/7);
  }
  .calendarMain li.inactive::before {
    border: unset;
  }
  .calendarMain li.inactive {
    color: #D9D9D9; 
  }

  .calendarMain .days .active::before {
    border: #006CFF 1px solid;
  }
  .calendarMain .days .active {
       color: #006CFF;
  }
  .currDay {
    color: #006CFF !important;
    text-decoration: underline;
  }
  .belowCalendar {
    text-align: start;
  }
  .belowCalendar .title {
    font-weight: 600;
    font-size: 18px;
  }
  .belowCalendar .para {
    color: #b3b3b3;
    font-size: 12px;
    padding: 10px 0;
    line-height: 1.6;
  }
  .belowCalendar .bookings {
    font-weight: 600;
  }
  .belowCalendar .time {
    padding: 10px 0;
  }
  .bookBut {
    width: fit-content;
    padding: 10px 20px;
  }
  .slot {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .slot2 {
    width: 100px;
    background-color: #f6f6f6;
    color: #d3d3d3;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
  }
  .bookings {
    margin: 0;
    margin-bottom: 5px;
  }
  .active3 {
    color: white;
    background-color: #006CFF;
  }
  .mobileBottom1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 1px -2px 10px #888888;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .mobileBottom1 .bots {
    display: flex;
    padding: 20px;
  }
  .mobileBottom1 .botss {
    padding: 20px;
  }
  .serviceBooking {
    padding-bottom: 120px;
  }
  .mobileBookConfirm {
    justify-content: unset;
  }
  .bookingConfirm {
    text-align: start;
    width: 75%;
    margin: 0 auto;
    margin-top: 25px;
  }
  .bookingConfirm .title {
    font-size: 18px;
    font-weight: 600;
  }
  .bookingConfirm .title2 {
    font-weight: 600;
  }
  .oldClients {
    text-align: center;
  }
  .signIn_square {
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
    gap: 10px;
  }
  .signIn_square .text {
    margin-bottom: 0;
  }
  .oldClients .button2 {
    border: 1px solid #C8C8C8;
    border-radius: 8px;
    padding: 18px;
    margin-bottom: 10px;
  }
  .oldClients .back {
    margin: 15px 0;
    color: #9D9D9D;
  }
  .bookingLoadbar.four {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .serviceList .top-list {
    display: flex;
    /* justify-content: space-around; */
    background-color: #D9D9D9;
    border-radius: 25px;
    /* padding: 7px; */
  }
  .serviceList .top-list .item {
    border-radius: 25px;
    padding: 10px 20px;
    flex-grow: 1;
  }
  .serviceList .top-list .item.active {
    background-color: #006CFF;
    color: white;
    /* border-radius: 25px;
    padding: 10px 20px; */
  }


    .page-heading {
        text-align: start;
    }
    .page-test {
        overflow: hidden;
        transition: max-height .5s ease-in-out;
    }
    .page-test1 {
        padding-bottom: 1.25rem;
    }
    .brand-add {
        transition: max-height .5s ease-in-out;
    }


    .page-tab {
        border-bottom: 1px solid #dddddd;
    }
    .page-menuIcon {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
    }
    .page-button {
        width: 100%;
        padding: .9375rem 3.125rem .9375rem 1.25rem ;
        text-align: start;
        position: relative;
        font-weight: 500;
    }
    .page-button::after {
      content: "<";
            display: block;
            position: absolute;
            font-size: 1.75rem;
            right: 0px;
            text-align: center;
            top: 50%;
            transform: rotate(90deg) translateX(-50%);
            width: 1.25rem;
            /* transition: transform 0.3s ease 0s; */
            margin: -0.525rem 1.25rem 0px;
    }
    .page-button1::after {
            content: "<";
            transform: rotate(-90deg) translateX(50%) translateY(2px);

        }
  .page-tab .list-item {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 15px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  .list-item.active {
    border: 2px solid #006CFF;
  }
  .list-item.newClass {
    display: grid;
    grid-template-columns: auto auto 1fr;
    position: relative;
    padding: 10px 0;
    padding-right: 25px;
  }
  .newClass::after {
    content: "";
    background-image: url('../../../assets/img/gta/delete.png');
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }
  .newClass > div:first-of-type {
    padding-right: 10px;
  }
  .list-mens {
    overflow: auto;
    height: 57%;
    padding-bottom: 40px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .botss .total {
    text-align: end;
    font-weight: 600;
    font-size: 18px;
  }
</style>
<img src="/content/images/marketing/prof-acc/thumbnail.jpg" alt="thumbnail" style="width:0px;height:0px;opacity:0"/>
<section style="width: 90%; margin: auto; color: black;">
  <div style="text-align: center;">
    <h2 class="bookingTitle">Welcome To GTA Online Booking System</h2>
    <p>Lorem ipsum dolor sit amet consectetur. Lorem nibh feugiat egestas sit mattis scelerisque nibh felis. Online booking Directly Or call: (905) 917-1805</p>
  </div>
  <div class="newClients">


    <div>

    </div>

    <div style="text-align: center; border-top: 1px solid rgba(187, 187, 187, 1); border-bottom: 1px solid rgba(187, 187, 187, 1); padding: 20px 0;">
      <h2 class="bookingTitle" style="margin: 0;">Let's Book Now!</h2>
      <p style="font-weight: 500; padding: 10px 0; width: 80%; text-align: center; margin: auto;">Save Time And Money With Our Booking System</p>
      <button class="buttonApt bookingButton">Book Appointment</button>
    </div>
    <div style="text-align: center; margin: 20px 0;">
      <p>Want to cancel your appointment?</p>
        <a href="mailto:sales@superhairpieces.com">
          <button class="bookingButton1">
            Email Us
          </button></a>
    </div>
  </div>
  <div class="oldClients non-active">
    <div class="signIn_square">
      <p class="text">Sign in to choose your preferences</p>
      <button class="button bookingButton">Sign in / Sign up with Square</button>
    </div>
    <div>
      <p>or</p>
      <p>Choose a new service</p>
    </div>
    <div>
      <div data-service="Men" data-service-cate="KYEHUUDWR5NEVDVGK2NOS2G4" class="button2">Men Services</div>
      <div data-service="Women" data-service-cate="VDIJ4PWVCEC6JEX4INMJ4FO3" class="button2">Women Services</div>
      <div data-service="Consultation" class="button2">Consultation Services</div>
    </div>
    <div class="back">Back</div>
  </div>
  <div class="serviceList">
    <div style="width: 80%; margin: auto;">
      <div class="bookingLoadbar four">
        <div class="bookingLoad"></div>
        <div class="bookingLoad"></div>
        <div class="bookingLoad"></div>
        <div class="bookingLoad"></div>
      </div>
      <div class="gokutest" style="text-align: center;">
        <p>Service List</p>
        <div class="top-list">
          <div class="item active">Men</div>
          <div class="item">Women</div>
          <div class="item">Consultation</div>
        </div>
        <div class="list-mens">
          <div class="page-tab">
            <p style="display: flex; margin-bottom: 0;" onclick="openFAQ(this)">
                <button class="page-button">Installation</button>
            </p>
            <div class="page-test" style="max-height: 0px;">
                <div id="installation" class="page-test1">
  
                </div>
            </div>
          </div>
          <div class="page-tab">
            <p style="display: flex; margin-bottom: 0;" onclick="openFAQ(this)">
                <button class="page-button">Installation + Color</button>
            </p>
            <div class="page-test" style="max-height: 0px;">
                <div id="installationcolor" class="page-test1">
  
                </div>
            </div>
          </div>
          <div class="page-tab">
            <p style="display: flex; margin-bottom: 0;" onclick="openFAQ(this)">
                <button class="page-button">Maintenance</button>
            </p>
            <div class="page-test" style="max-height: 0px;">
                <div id="maintenance" class="page-test1">
  
                </div>
            </div>
          </div>
          <div class="page-tab">
            <p style="display: flex; margin-bottom: 0;" onclick="openFAQ(this)">
                <button class="page-button">Maintenance + Color</button>
            </p>
            <div class="page-test" style="max-height: 0px;">
                <div id="maintenancecolor" class="page-test1">
  
                </div>
            </div>
          </div>
          <div class="page-tab">
            <p style="display: flex; margin-bottom: 0;" onclick="openFAQ(this)">
                <button class="page-button">Hair Trim</button>
            </p>
            <div  class="page-test" style="max-height: 0px;">
                <div id="hairtrim" class="page-test1">
  
                </div>
            </div>
          </div>
          <div class="page-tab">
            <p style="display: flex; margin-bottom: 0;" onclick="openFAQ(this)">
                <button class="page-button">Perm</button>
            </p>
            <div class="page-test" style="max-height: 0px;">
                <div id="perm" class="page-test1">
  
                </div>
            </div>
          </div>
          <div class="page-tab">
            <p style="display: flex; margin-bottom: 0;" onclick="openFAQ(this)">
                <button class="page-button">System Template</button>
            </p>
            <div class="page-test" style="max-height: 0px;">
                <div id="systemtemplate" class="page-test1">
  
                </div>
            </div>
          </div>
          <div class="page-tab">
            <p style="display: flex; margin-bottom: 0;" onclick="openFAQ(this)">
                <button class="page-button">Misc</button>
            </p>
            <div class="page-test" style="max-height: 0px;">
                <div id="misc" class="page-test1">
  
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="mobileBottom1 non-active">
      <div class="botss">
        <div class="service"></div>
        <div class="total" style="display: none;">
          <span>Total</span>
          <span class="price"></span>
        </div>
        <div style="display:flex;">
          <button class="bookingButton1">Back</button>
          <button class="bookingButton nextButton">Next</button>
          <button class="bookingButton confirmButton non-active">Confirm</button>
        </div>

      </div>
    </div>
  </div>
    <div class="mobilePopup">
      <div class="mobilePopup1">
        <div class="bookingLoadbar">
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
        </div>

        <div class="mobileMain mobileInitial non-active" >
          <p>Is this your first service appointment with Superhairpieces?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id="1" class="bookingButton">Yes</button>
            <button id="2" class="bookingButton">No, I'd like to sign in / sign up</button>
          </div>
        </div>

        <div id="service1" class="mobileMain mobileService non-active">
          <p>Which service do you need?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id='mens' class="bookingButton1">Men services</button>
            <button id="womens" class="bookingButton1">Women services</button>
            <button id="consultation" class="bookingButton1">Consultation</button>
          </div>
        </div>
        <div id="system1" class="mobileMain mobileSystem non-active">
          <p>Do you have any hair systems?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id="systemYes" class="bookingButton">Yes</button>
            <button id="systemBuy" class="bookingButton">No, Let's buy one</button>
          </div>
        </div>
        <div id="service2" class="mobileMain mobileService2 non-active">
          <p>What service do you need?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id="Installation" class="bookingButton">Installation</button>
            <button id="Maintenance" class="bookingButton">Maintenance</button>
          </div>
          <p>Don't know what to do? Let's listen to our expert advices</p>
          <button id="serviceCons" class="bookingButton">Consultation</button>
        </div>
        <div id="service3" class="mobileMain mobileService3 non-active">
          <p>Do you require color on your own hair?<span id="change"></span></p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button class="bookingButton">Yes</button>
            <button class="bookingButton">No</button>
          </div>
        </div>
        <div id="serviceBooking" class="mobileMain serviceBooking non-active">
          <div>
            <p>Hair Stylist</p>
            <div class="staffMembers">
                <div data-team-member-id="" class="bookingButton1 addNames1 loaded">
                  <span class="addNames"></span>
                  <div class="salonist" >Any Available Staff Member</div></div>
            </div>
          </div>
          <p>Select your preferred date and time</p>  
          <div>
            <div class="calendarTop">
              <svg class="arrow disabled prev-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
              </svg>
              <p class="calendarMonth" style="margin: unset;"></p>
              <svg class="arrow next-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
              </svg>
            </div>
            <div class="calendarMain">
              <ul class="weeks">
                <li>S</li>
                <li>M</li>
                <li>T</li>
                <li>W</li>
                <li>Th</li>
                <li>F</li>
                <li>S</li>
              </ul>
              <ul class="days">
              </ul>
            </div>
            <div class="belowCalendar">
              <div class="title">Available on <span class="dayAvailable"></span></div>
              <div class="para">You can schedule an appointmnt between 12 hours and 60 days ahead of time. Time zone: Eastern Time Zone (EST)</div>
              <div class="morning time">
                <p class="bookings">Morning</p>
                <div class="slot"></div>
                <div class="slot2">All booked</div>
              </div>
              <div class="afternoon time">
                <p class="bookings">Afternoon</p>
                <div class="slot"></div>
                <div class="slot2">All booked</div>

              </div>
              <div class="evening time">
                <p class="bookings">Evening</p>
                <div class="slot"></div>
                <div class="slot2">All booked</div>

              </div>
            </div>
          </div>
        </div>
        <div id="bookingConfirmation" class="mobileMain bookingConfirm non-active">
          <p class="title">Booking Information</p>
          <div>
            <p class="title2">Service :</p>
            <div id="serviceType"></div>
          </div>
          <div>
            <p class="title2">Hair Stylist :</p>
            <div id="stylistName"></div>
          </div>
          <div>
            <p class="title2">Date and time :</p>
            <div id="dateSelected"></div>
          </div>
        </div>
        <div class="bookingForm non-active">
          <p>You're nearly done. Enter your details below.</p>
          <form>
            <div>
              <select name="country" id="country">
                <option value="+1">Canada</option>
              </select>
              <input placeholder="(000) 000 0000">
            </div>

            <input placeholder="Email">
            <div>
              <input placeholder="First name">
              <input placeholder="Last name">
            </div>

            <textarea placeholder="Appointment notes (optional)"></textarea>
          </form>
        </div>
        <div class="mobileBottom non-active">
          <button class="mobileCancel">Cancel</button>
          <p>Any Questions?</p>
          <p>Please Call: (905) 917-1805</p>
        </div>

      </div>
      <div class="mobileBottom1 non-active">
        <div class="bots">
          <button class="bookingButton1">Back</button>
          <button class="bookingButton nextButton">Next</button>
          <button class="bookingButton confirmButton non-active">Confirm</button>
        </div>
      </div>
    </div>


</section>
<script>
  const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
  const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'Septemeber', 'October', 'November', 'December']

  let date = new Date();
  let currDate = date.getDate();
  let currYear = date.getFullYear();
  let currMonth = date.getMonth();
  let test5 = new Date(currYear, currMonth + 1,0)
  let serviceEnd = '';
  let serviceEnd1 = []
  let stylist = '';
  let startTime = '';
  let bookedStylist = '';
  let duration = '';
  let currentStylers = [];
  let total = '0.00';
  let servicesAvailable =[];
  let totalTime = 0
  test5.setUTCHours(23,59,59,0)

  function openFAQ(x) {
                    let setheight = x.nextElementSibling.children[0].offsetHeight
                    let checkClass = x.nextElementSibling.classList
                    if (checkClass.contains('brand-add')) {
                        checkClass.remove('brand-add')
                        x.children[0].classList.remove('page-button1')
                        x.nextElementSibling.style.maxHeight = '0'
                    } else {
                        checkClass.add('brand-add')
                        x.children[0].classList.add('page-button1')
                        x.nextElementSibling.style.maxHeight = setheight + 'px'
                    }
                }


  function calendarChange(x, y) {
    let firstDayofMonth = new Date(currYear, currMonth, 1).getDay();
    let lastDateofMonth = new Date(currYear, currMonth + 1,0).getDate();
    let lastDayofMonth = new Date(currYear, currMonth, lastDateofMonth).getDay();
    let lastDateofLastMonth = new Date(currYear, currMonth,0).getDate();
    let checking = new Date().toLocaleDateString('fr-CA', {year: 'numeric', month: '2-digit', day: '2-digit'});
    let change =''
    for (let i = firstDayofMonth ; i > 0; i--) {
      change += `<li class="inactive">${lastDateofLastMonth - i + 1}</li>`
    }
    $('.calendarMonth').html(`
      ${months[currMonth]} ${currYear}
    `)
    
    for (let i=1; i<=lastDateofMonth;i++ ) {
      let isToday = i === date.getDate() && currMonth === new Date().getMonth() && currYear === new Date().getFullYear() ? 'currDay': '';
      change += `
        <li data-date="${currYear}-${("0" + (currMonth+1)).slice(-2)}-${("0" + i).slice(-2)}"  class="currMonth inactive ${isToday}">${i}</li>
      `

    }
    for (let i = lastDayofMonth; i< 6; i++) {
      change += `<li class="inactive">${i - lastDayofMonth + 1}</li>`
    }

    $('.calendarMain .days').html(`${change}`)
  }

  function getCurrentDateAppointments(firstDate, apps, x, y) {
    if (apps.length > 0) {
      const test2 = apps.filter((item) => item.startAt.includes(y))
    let date = new Date(test2[0].startAt).toLocaleString('en-us', { day: 'numeric',weekday: 'short' , year: 'numeric'})
    $('.slot').empty();
      console.log(test2)
    test2.forEach((item) => {
        const date = new Date(item.startAt);
        const time = date.toLocaleTimeString([], {hour: 'numeric', minute:'2-digit'});
        const time2 = date.toLocaleTimeString('en-us', {hour12: false})
        
        if (time2 > '15:00:00') {
          $('.evening .slot2').remove();
          $('.evening .slot').append(`<div data-start-id="${item.startAt}" data-duration="${item.appointmentSegments[0].durationMinutes}" data-team-member="${item.appointmentSegments[0].teamMemberId}" class="bookingButton1 bookBut">${time}</div>`)
        } else if (time2 > "12:00:00" && time2 < '15:00:00') {
          $('.afternoon .slot2').remove();
         
          $('.afternoon .slot').append(`<div data-start-id="${item.startAt}" data-duration="${item.appointmentSegments[0].durationMinutes}" data-team-member="${item.appointmentSegments[0].teamMemberId}" class="bookingButton1 bookBut">${time}</div>`)
        } else {
          $('.morning .slot2').remove();         
          $('.morning .slot').append(`<div data-start-id="${item.startAt}" data-duration="${item.appointmentSegments[0].durationMinutes}" data-team-member="${item.appointmentSegments[0].teamMemberId}" class="bookingButton1 bookBut">${time}</div>`)

        }
      })
      $('.dayAvailable').html(date)
    } else {

    }
    $('.bookBut').on('click', function() {
      startTime = $(this).data('start-id')
      bookedStylist = $(this).data('team-member')
      duration = $(this).data('duration')
      $('.bookBut').removeClass('active3')
      $(this).addClass('active3')
    })


    // else {
    //   const test = apps.filter((item) => item === firstDate)
    // let date = new Date(apps[0].startAt).toLocaleString('en-us', { day: 'numeric',weekday: 'short' , year: 'numeric'})

    //   test.forEach((item) => {
    //     const date = new Date(item.startAt);
    //     const time = date.toLocaleTimeString([], {hour: 'numeric', minute:'2-digit'});
    //     const time2 = date.toLocaleTimeString('en-us', {hour12: false})

    //     if (time2 > '15:00:00') {
    //       $('.evening').append(`<div>${time}</div>`)
    //     } else if (time2 > "12:00:00" && time2 > '15:00:00') {
    //       $('.afternoon').append(`<div>${time}</div>`)
    //     } else {
    //       $('.morning').append(`<div class="bookingButton1 bookBut">${time}</div>`)

    //     }
    //   })
    //   $('.dayAvailable').html(date)
    // }

  }

  function bookingSq(startDate, endDate, service, stylists) {
    serviceEnd = service;
    fetch('https://shp-webserver-temp.glitch.me/sq-availability', {
      method: 'POST',
      headers: {
            accept: "application/json",
            "content-type": "application/json"
        },
      body: JSON.stringify ({
          start: startDate,
          end: endDate,
          service: service,
          stylist: stylists
        })
    })
    .then(r=>r.json())
    .then(r=> {
      let apps = r.availabilities
      let dateSelected = new Date().toLocaleString('en-us', {weekday: 'short'});
      
      let firstDate = r.availabilities[0]
      let v = 0;
      if (apps.length > 0) {
        $('.currMonth').removeClass('active selected')

        apps.forEach((item) => {
        const date = new Date(item.startAt);
        const day = date.getDate();
        Array.from($('.currMonth')).forEach((item1) => {          
          if (day == item1.innerHTML) {

            if (!item1.classList.contains('active')) {
              item1.setAttribute("data-id", v)
              $(item1).addClass('active')
              v++
            } 
          } 
        })
      })
      $('.currMonth.active').eq(0).addClass('selected')
      let x = $('.currMonth.selected').attr('data-id');
      let y = $('.currMonth.selected').attr('data-date');
      // calendarChange()
      getCurrentDateAppointments(r.availabilities[x], apps, x, y)
      } 
      else {
        $('.currMonth').removeClass('active selected')
        currMonth = currMonth + 1
      if (currMonth < 0 || currMonth > 11) {
        date = new Date(currYear, currMonth);
        currYear = date.getFullYear();
        currMonth = date.getMonth();
      } else {
        date = new Date();
      }
      let test7 = new Date(currYear, currMonth + 1,0)
      let test8 = new Date(currYear, currMonth,1)
      test7.setUTCHours(23,59,59,0)
      calendarChange()
      bookingSq(test8.toISOString(), test7.toISOString(),serviceEnd, stylist)
      }


      $('li.currMonth.active').on('click', function() {
        $('.currMonth.active').removeClass('selected')
        $(this).addClass('selected')
        let x = this.getAttribute('data-id')
        let y = this.getAttribute('data-date')
        getCurrentDateAppointments(r.availabilities[x], apps, x, y)
    }) 

    })

  }
  function serviceType(serviceEnd, stylist, startTime) {
    fetch(`https://shp-webserver-temp.glitch.me/sq-servicetype`, {
        method: 'POST',
        headers: {
            accept: "application/json",
            "content-type": "application/json"
        }
    })
    .then(r=>r.json())
    .then(r=> { 
      // $('.mobileBottom1 .bookingButton').html('Confirm')
      $('.nextButton').addClass('non-active');
      $('.confirmButton').removeClass('non-active');
      r.items.forEach((item) => {
        if (item.itemData.variations[0].id == serviceEnd) {
          currentStylers.forEach((item2) => {
            if(stylist == item2.team_member_id) {
              $('#stylistName').append(item2.display_name)

            }
          })
          $('#serviceType').append(item.itemData.name)
          let durationMins = new Date(startTime)
          let day = new Date(startTime).getDay();
          let date = new Date(startTime).getDate();
          let month = new Date(startTime).getMonth();
          let year = new Date(startTime).getFullYear();
          let time = new Date(startTime).toLocaleTimeString('en-US', {hour:"numeric", minute: "2-digit"})
          let startTime2 = durationMins.setMinutes(durationMins.getMinutes() + duration)
          let time2 = new Date(startTime2).toLocaleTimeString('en-US', {hour:"numeric", minute: "2-digit"})
          $('#dateSelected').append(`${weekday[day]}, ${months[month]} ${date}, ${year} </br> ${time} - ${time2} EST`)

        }
      })
    })
  }
  $('.mobileBottom1 .bots .bookingButton.nextButton').on('click', function() {
      if (serviceEnd, bookedStylist, startTime) {
        $('.bookingLoadbar.four .bookingLoad:not(.loaded):first').addClass('loaded')
        $('.serviceBooking').removeClass('active');
        $('.mobilePopup1').addClass('mobileBookConfirm')
      $('.bookingConfirm').addClass('active');
        serviceType(serviceEnd, bookedStylist, startTime);
      } else {
        console.log('Please select')
      }
      
    })
  $('.mobileBottom1 .bookingButton.confirmButton').on('click', function() {

    
  })
  window.addEventListener('DOMContentLoaded', function() {
    let serviceGender = '';
    let serviceType = '';
    let color = false;
    calendarChange() 
    $('.calendarTop .next-arrow').on('click', function() {
      currMonth = currMonth + 1
      if (currMonth < 0 || currMonth > 11) {
        date = new Date(currYear, currMonth);
        currYear = date.getFullYear();
        currMonth = date.getMonth();
      } else {
        date = new Date();
      }
      let test5 = new Date(currYear, currMonth + 1,0)
      let test6 = new Date(currYear, currMonth,1)
      test5.setUTCHours(23,59,59,0)
      calendarChange()
      bookingSq(test6.toISOString(), test5.toISOString(),serviceEnd)

    })
    $('.calendarTop .prev-arrow').on('click', function() {
      currMonth = currMonth - 1
      if (currMonth < 0 || currMonth > 11) {
        date = new Date(currYear, currMonth, currDate);
        currYear = date.getFullYear();
        currMonth = date.getMonth();
      } else {
        date = new Date();
      }
      let test5 = new Date(currYear, currMonth + 1,0)
      let test6 = new Date(currYear, currMonth,1)
      if (currMonth === new Date().getMonth()) {
        bookingSq(new Date().toISOString(), test5.toISOString(),serviceEnd)
      } else {
        bookingSq(test6.toISOString(), test5.toISOString(),serviceEnd)
      }
      test5.setUTCHours(23,59,59,0)
      calendarChange()
    })

    $('.oldClients .button2').on('click', (e) => {
      let serviceType = e.target.getAttribute('data-service')
      let serviceCate = e.target.getAttribute('data-service-cate')
      let setheight = $('.page').height();
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
      // $('.oldClients').addClass('non-active')
      $('.serviceList .mobileBottom1').addClass('active')
        $('.serviceList').css('max-height', `${setheight}px`);
        $('.serviceList .top-list .item').removeClass('active')
       let selected = $('.serviceList .top-list').find(`:contains('${serviceType}')`)
       fetch(`https://shp-webserver-temp.glitch.me/sq-servicetype`, {
        method: 'POST',
        headers: {
            accept: "application/json",
            "content-type": "application/json"
        }
    })
    .then(r=>r.json())
    .then(r=> { 
      servicesAvailable = r.items
      const vidu = r.items.filter((item) => item.itemData.categoryId == serviceCate)
      
     var testing = new Promise((resolve, reject ) => {
      vidu.forEach((item) => {
        let product = item.itemData.variations[0]
        const id = product.id
        const mins = product.itemVariationData.serviceDuration
        let cost = ''
        cost = (product.itemVariationData.priceMoney ? (product.itemVariationData.priceMoney.amount/100).toLocaleString('en-us', {style:"currency", currency: "USD"}) : 'Price Varies')
        if (id == "BMENIVQM6YI6254XOMSI5QIB") {
          $('.gokutest .page-tab #installation').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Hair System</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "QOR7VBWPFJ6O7SWH2V4V7W62") {
          $('.gokutest .page-tab #installation').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Full Cap System</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "2JDUDQ6ZC2W5ISMY6ACJKIUC") {
          $('.gokutest .page-tab #installation').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Partial Installation</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "YFDOI5TIOTSEXYCLU7SW7GEQ") {
          $('.gokutest .page-tab #installation').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Other Company</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "5WY5OYLPSRO5ZEE3CAQVDCIK") {
          $('.gokutest .page-tab #installationcolor').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Installation + color</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "IQU3XIVADLWH4R26UHDEYNWN") {
          $('.gokutest .page-tab #maintenance').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Toupee</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "57ZOFDUG3EPA5ZQAJEDTQIJW") {
          $('.gokutest .page-tab #maintenance').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Full Cap</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "OTR5CBY3WATSLBTHPPT72FRR") {
          $('.gokutest .page-tab #maintenancecolor').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Maintenance + color</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "OYP3HMSC3G53MWKZYUX6UYC5") {
          $('.gokutest .page-tab #hairtrim').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Hair Trim</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "YPS4TL2QN6G6G7BAAVCQWZCC") {
          $('.gokutest .page-tab #perm').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Own Hair Service</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "L6AZYQW42R7M4LCGYG2DV3T4") {
          $('.gokutest .page-tab #perm').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>System Service</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "2KURQYRV6SJKS3O6NODHP3QT") {
          $('.gokutest .page-tab #systemtemplate').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>System Template</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
        if (id == "67ELY4T4HAC2WOOA42L37XZE") {
          $('.gokutest .page-tab #misc').append(`<div id="${id}" class="list-item" data-service-id="${id}">
            <div>Miscellaneous</div>
            <div>${mins/60000}mins</div>
            <div style="text-align:end;">${cost}</div>
            </div>`)
        }
      })
    
      resolve()
     }) 
     testing.then(() => {
      
        $('.list-mens .list-item').on('click', function(){
          let serviceId = $(this).data('service-id');
          let self = this.id;
          
          if ($(`.botss .service #${self}`).length == 0) {
            let check = $("> div:last-of-type", this).text()
            total = parseFloat(total) + parseFloat(check.replace(/[$,]/g, ''))
            $('.botss .total .price').html(`$${total}.00`)
            if ($('.botss .total').css('display') == 'none') {
              $('.botss .total').css('display','block')
            }
            $('.botss .service').append($(this).clone().addClass('newClass'))
            // $(".list-item.newClass").click();
          }
          // Array.from($('.botss .service .newClass')).forEach((item) => {
          //   let check = $("> div:last-of-type", item).text()
          //   console.log(parseInt(check.replace(/[$,]/g, '')))
          // })
          serviceEnd1.push(serviceId)
          // checkAva()
            const test = servicesAvailable.filter((item1) => item1.itemData.variations[0].id == self)
            totalTime += parseInt(test[0].itemData.variations[0].itemVariationData.serviceDuration)
            // console.log(totalTime)
            // let x = date.setUTCHours(23,59,59,0)
            console.log(date)
            // let startTime2 = durationMins.setMinutes(durationMins.getMinutes() + duration)
          // serviceEnd1.forEach((item) => {
          //   const test = servicesAvailable.filter((item1) => item1.itemData.variations[0].id == item)
          //   console.log(test)
          // })
          
          $(this).hasClass('active') ? '': $(this).addClass('active')

        })



       })

    })
    $(document).on('click', '.list-item.newClass', function() {
            let check = $("> div:last-of-type", this).text();
            total = parseFloat(total) - parseFloat(check.replace(/[$,]/g, ''));
            $('.botss .total .price').html(`$${total}.00`);
            (this).remove();
            $(`#${this.id}`).removeClass('active');

          })
       selected.addClass('active')

    })

    // function checkAva() {
    //   fetch(`https://shp-webserver-temp.glitch.me/sq-availability`, {
    //     method: 'POST',
    //     headers: {
    //         accept: "application/json",
    //         "content-type": "application/json"
    //     },
    //     body: JSON.stringify ({
    //       start: startDate,
    //       end: endDate,
    //       service: service,
    //       stylist: stylists
    //     })
    //   })
    // }




    fetch(`https://shp-webserver-temp.glitch.me/squareup-bookings1`, {
        method: 'POST',
        headers: {
            accept: "application/json",
            "content-type": "application/json"
        }
    })
    .then(r=>r.json())
    .then(r=> {
      let ids = []
      r.team_member_booking_profiles.forEach(item => {
        currentStylers.push(item)
        ids.push(item.team_member_id)
        $('.addNames').append(`
        <span class=display_name>${Array.from(item.display_name)[0]}</span>
        `)
        $('.staffMembers').append(`
        
        <div data-team-member-id="${item.team_member_id}" class='bookingButton1 addNames1'>
          <span class=display_name>${Array.from(item.display_name)[0]}</span>
          <div class=salonist>${item.display_name}</div>
          </div>`)
      });
      $('.staffMembers .addNames1.loaded').attr('data-team-member-id', ids)

      stylist = ids
      $('.staffMembers .addNames1').on('click', function() {
        let memberId = $(this).data('team-member-id')
        stylist = memberId.split(',')
        $('.staffMembers .addNames1').removeClass('loaded')
        $(this).addClass('loaded')
        let date1 = new Date();
        let year = date1.getFullYear();
        let mon = date1.getMonth();
        let test5 = new Date(year, mon + 1,0)
        bookingSq(date1.toISOString(), test5.toISOString(), serviceEnd, stylist)
    })
    })


    $('.buttonApt').on('click', ()=> {

      let setheight = $('.page').height();
      $('.mobilePopup1 .bookingLoad:not(.loaded):first').addClass('loaded')
      $('.mobileInitial').addClass('active')
      $('.mobileBottom').addClass('active');

        $('.mobilePopup').css('max-height', `${setheight}px`);
    })
    $('.mobileCancel').on('click', () => {
      $('.bookingLoad').removeClass('loaded')
      $('.mobilePopup').css('max-height', '0');
      $('.mobileMain').removeClass('active');
      $('.mobileInitial').addClass('active')

    })
    $('#1').on('click', () => {
      $('.mobileInitial').removeClass('active')
      $('.mobileService').addClass('active')
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
    })
    $('#2').on('click', () => {
      $('.bookingLoad').removeClass('loaded')
      $('.mobilePopup').css('max-height', '0');
      // $('.mobileMain').removeClass('active');
      $('.newClients').addClass('non-active')
      $('.oldClients').removeClass('non-active')
    })
    $('.mobileService .bookingButton1').on('click', (e) => {
      e.preventDefault();
      serviceGender = e.target.id;
      if (serviceGender == 'mens' || serviceGender == 'womens') {
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
      $('.mobileService').removeClass('active');
        $('.mobileSystem').addClass('active');
      }
    })
    $('#systemYes').on('click', () => {
      $('.mobileSystem').removeClass('active');
      $('.mobileService2').addClass('active');
    })
    $('.mobileService2 .bookingButton').on('click', (e) => {
      e.preventDefault();
      serviceType = e.target.id;
      if (serviceType == 'Installation' || serviceType == 'Maintenance') {
      $('.mobileService2').removeClass('active');
      $('.mobileService3').addClass('active');
      $('#change').append(`
        (${serviceType} + color) 
      `)
      }
      
    })
    $('.mobileService3 .bookingButton').on('click', (e) => {
      e.preventDefault();
      e.target.innerHTML == 'Yes' ? color=true : color=false;
      $('.mobileService3').removeClass('active');
      $('.serviceBooking').addClass('active');
      $('.mobileBottom').removeClass('active');
      $('.mobileBottom1').addClass('active');

      $('.bookingLoad:not(.loaded):first').addClass('loaded')

       if (serviceGender == 'mens') {
        if (serviceType == 'Maintenance') {
          if (color) {

            bookingSq(date.toISOString(), test5.toISOString(), "VUIWQXOP26WUZWQMQGBNRGSZ", stylist)
          } else {
            bookingSq(date.toISOString(), test5.toISOString(), "RTGD32YYZ2YK36MUN43WMYEC", stylist)
          }
        } else {
          if (color) {
            bookingSq(date.toISOString(), test5.toISOString(), "O6RWN7NFJKTYCTSKXIVKNUUV", stylist)
          } else {
            bookingSq(date.toISOString(), test5.toISOString(), "QKVCJJZHAHG3AWGIOVHASRNA", stylist)
          }
        }
       } else {
        if (serviceType == 'Maintenance') {
          if (color) {
            bookingSq(date.toISOString(), test5.toISOString(), "OS255XE5HJCLHU43J4YT5R4F", stylist)
          } else {
            bookingSq(date.toISOString(), test5.toISOString(), "OK3BPUAMAJYINUKVQJRBHZMB", stylist)
          }
        } else {
          if (color) {
            bookingSq(date.toISOString(), test5.toISOString(), "WEXJ7MQTUFSVGFIERPF7IOUW", stylist)
          } else {
            bookingSq(date.toISOString(), test5.toISOString(), "RSDJ4PSD2SJ6JBPUSCK274QN", stylist)
          }
        }
       }
    })

  })
</script>