<link rel="stylesheet" href="/content/css/slick.css">
<style>
    .breadcrumbs {
    display: none;
}
.body.page h1 {
    display: none;
}
.css-1hcx8jb {
    display: none !important;
    font-size: 12px;
}
.page-heading {
    padding-top: 4vh;
}
@media (min-width: 801px) and (max-width:1149px) {
    .body.page {
        margin-top: 2.5rem !important;
    }
}
.body.page {
  padding: 0 !important;
}
p {
  /* margin: 0 !important; */
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: mensden;
}
.body.page .container {
  max-width: 100% !important;
  padding: 0px !important;
}
.page {
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  max-width: 100% !important;
}
.page-content.page-content--centered {
  padding: 0 !important;
  width: 100% !important;
}
.body.page .page-content p:first-child {
  /* display: none; */

}
</style>




<style>
  .mobilePopup {
    position: absolute;
    height: 100vh;
    z-index: 1111;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transition: all .4s ease;
    max-height: 0;
    overflow: hidden;
  }
  .mobilePopup1 {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .bookingButton {
    background-color: rgba(0, 108, 255, 1);
    color: white;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
  }
  .bookingButton1 {
    border:1px solid rgba(0, 108, 255, 1);
    color: rgba(0, 108, 255, 1);
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none;
  }
  .bookingTitle {
    font-weight: 500;
    font-size: 24px;
    color: black;
  }
  .bookingLoadbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 25px;
  }
  .bookingLoad {
    height: 3px;
    width: 100%;
    background-color: #D9D9D9;
  }
  .bookingLoad.loaded {
    background-color: #006CFF;
  }
  .non-active {
    display: none;
  }
  .active {
    display: block;
  }
  .addNames {
    width: 30px;
    height: 30px;
  }
  .addNames .display_name {
    width: 20px;
    height: 20px;
  }
  .addNames .display_name:last-child {
    position: relative;
    top: -10px;
    right: -10px;
    border: 1px solid white;
  }
  .addNames1 {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 10px;
    border: 1px solid #D9D9D9;
    cursor: pointer;
  }
  .bookingButton1.addNames1:not(.loaded):hover {
    border: 1px solid rgba(0, 106, 255, 0.72)
  }
  .salonist {
    height: fit-content;
    width: fit-content;
    color: black;
  }
  .display_name {
    background-color: #006CFF;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bookingButton1.loaded {
    border: 2px solid #006CFF;
  }
  .arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #006CFF;
    border-radius: 5px;
  }
  .arrow use {
    fill: #006CFF;
  }
  .arrow.disabled {
    border: 1px solid #D9D9D9;
    
  }
  .arrow.disabled use {
    fill: #D9D9D9;
  }

  .calendarTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 10px;
  }
  .serviceBooking {
    overflow: auto;
  }
  .calendarMain {
    margin-top: 10px;
  }
  .calendarMain .weeks {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
  }
  .calendarMain .days {
    display: flex;
    flex-wrap: wrap;
  }
  .calendarMain .days li {
    cursor: pointer;
    padding: 5px;
    z-index: 1;
    position: relative;
    margin-top: 5px;
    /* color: #006CFF; */
    font-weight: 500;
  }
  .calendarMain .days li::before {
     position: absolute;
     content: "";
     height: 30px;
     width: 30px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 50%;
     border: #006CFF 1px solid;
     z-index: -1;
  }
  .calendarMain .days .selected::before {
    background-color: #006CFF;
  }
  .calendarMain .days .selected {
    color: white !important;
  }
  .calendarMain ul {
    list-style: none;
  }
  .calendarMain ul li {
    width: calc(100%/7);
  }
  .calendarMain li.inactive::before {
    border: unset;
  }
  .calendarMain li.inactive {
    color: #D9D9D9; 
  }

  .calendarMain .days .active::before {
    border: #006CFF 1px solid;
  }
  .calendarMain .days .active {
       color: #006CFF;
  }
  .currDay {
    color: #006CFF !important;
    text-decoration: underline;
  }
  .belowCalendar {
    text-align: start;
  }
  .belowCalendar .title {
    font-weight: 600;
    font-size: 18px;
  }
  .belowCalendar .para {
    color: #b3b3b3;
    font-size: 12px;
    padding: 10px 0;
    line-height: 1.6;
  }
  .belowCalendar .bookings {
    font-weight: 600;
  }
  .belowCalendar .time {
    padding: 10px 0;
  }
  .bookBut {
    width: fit-content;
    padding: 10px 20px;
  }
  .slot {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .slot2 {
    width: 100px;
    background-color: #f6f6f6;
    color: #d3d3d3;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
  }
  .bookings {
    margin: 0;
    margin-bottom: 5px;
  }
</style>
<img src="/content/images/marketing/prof-acc/thumbnail.jpg" alt="thumbnail" style="width:0px;height:0px;opacity:0"/>
<section style="width: 90%; margin: auto; color: black;">
    <div style="text-align: center;">
      <h2 class="bookingTitle">Welcome To GTA Online Booking System</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Lorem nibh feugiat egestas sit mattis scelerisque nibh felis. Online booking Directly Or call: (905) 917-1805</p>
    </div>

    <div>

    </div>

    <div style="text-align: center; border-top: 1px solid rgba(187, 187, 187, 1); border-bottom: 1px solid rgba(187, 187, 187, 1); padding: 20px 0;">
      <h2 class="bookingTitle" style="margin: 0;">Let's Book Now!</h2>
      <p style="font-weight: 500; padding: 10px 0; width: 80%; text-align: center; margin: auto;">Save Time And Money With Our Booking System</p>
      <button class="buttonApt bookingButton">Book Appointment</button>
    </div>
    <div style="text-align: center; margin: 20px 0;">
      <p>Want to cancel your appointment?</p>
        <a href="mailto:sales@superhairpieces.com">
          <button class="bookingButton1">
            Email Us
          </button></a>
    </div>

    <div class="mobilePopup">
      <div class="mobilePopup1">
        <div class="bookingLoadbar">
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
          <div class="bookingLoad"></div>
        </div>
        <div class="mobileMain mobileInitial non-active" >
          <p>Is this your first service appointment with Superhairpieces?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id="1" class="bookingButton">Yes</button>
            <button id="2" class="bookingButton">No, I'd like to sign in / sign up</button>
          </div>
        </div>
        <div id="service1" class="mobileMain mobileService non-active">
          <p>Which service do you need?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id='mens' class="bookingButton1">Men services</button>
            <button id="womens" class="bookingButton1">Women services</button>
            <button id="consultation" class="bookingButton1">Consultation</button>
          </div>
        </div>
        <div id="system1" class="mobileMain mobileSystem non-active">
          <p>Do you have any hair systems?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id="systemYes" class="bookingButton">Yes</button>
            <button id="systemBuy" class="bookingButton">No, Let's buy one</button>
          </div>
        </div>
        <div id="service2" class="mobileMain mobileService2 non-active">
          <p>What service do you need?</p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button id="Installation" class="bookingButton">Installation</button>
            <button id="Maintenance" class="bookingButton">Maintenance</button>
          </div>
          <p>Don't know what to do? Let's listen to our expert advices</p>
          <button id="serviceCons" class="bookingButton">Consultation</button>
        </div>
        <div id="service3" class="mobileMain mobileService3 non-active">
          <p>Do you require color on your own hair?<span id="change"></span></p>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <button class="bookingButton">Yes</button>
            <button class="bookingButton">No</button>
          </div>
        </div>
        <div id="serviceBooking" class="mobileMain serviceBooking non-active">
          <div>
            <p>Hair Stylist</p>
            <div class="staffMembers">
                <div data-team-member-id="" class="bookingButton1 addNames1 loaded">
                  <span class="addNames"></span>
                  <div class="salonist" >Any Available Staff Member</div></div>
            </div>
          </div>
          <p>Select your preferred date and time</p>  
          <div>
            <div class="calendarTop">
              <svg class="arrow disabled prev-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
              </svg>
              <p class="calendarMonth" style="margin: unset;"></p>
              <svg class="arrow next-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
              </svg>
            </div>
            <div class="calendarMain">
              <ul class="weeks">
                <li>S</li>
                <li>M</li>
                <li>T</li>
                <li>W</li>
                <li>Th</li>
                <li>F</li>
                <li>S</li>
              </ul>
              <ul class="days">
              </ul>
            </div>
            <div class="belowCalendar">
              <div class="title">Available on <span class="dayAvailable"></span></div>
              <div class="para">You can schedule an appointmnt between 12 hours and 60 days ahead of time. Time zone: Eastern Time Zone (EST)</div>
              <div class="morning time">
                <p class="bookings">Morning</p>
                <div class="slot"></div>
                <div class="slot2">All booked</div>
              </div>
              <div class="afternoon time">
                <p class="bookings">Afternoon</p>
                <div class="slot"></div>
                <div class="slot2">All booked</div>

              </div>
              <div class="evening time">
                <p class="bookings">Evening</p>
                <div class="slot"></div>
                <div class="slot2">All booked</div>

              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="mobileCancel">Cancel</button>
          <p>Any Questions?</p>
          <p>Please Call: (905) 917-1805</p>
        </div>
      </div>

    </div>


</section>
<script>
  let date = new Date();
  let currDate = date.getDate();
  let currYear = date.getFullYear();
  let currMonth = date.getMonth();
  let test5 = new Date(currYear, currMonth + 1,0)
  let serviceEnd = '';
  let stylist = ''
  test5.setUTCHours(23,59,59,0)
  function calendarChange(x, y) {
    let firstDayofMonth = new Date(currYear, currMonth, 1).getDay();
    let lastDateofMonth = new Date(currYear, currMonth + 1,0).getDate();
    let lastDayofMonth = new Date(currYear, currMonth, lastDateofMonth).getDay();
    let lastDateofLastMonth = new Date(currYear, currMonth,0).getDate();
    console.log(currDate, currMonth, currYear)
    let checking = new Date().toLocaleDateString('fr-CA', {year: 'numeric', month: '2-digit', day: '2-digit'});
    const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'Septemeber', 'October', 'November', 'December']
    let change =''
    for (let i = firstDayofMonth ; i > 0; i--) {
      change += `<li class="inactive">${lastDateofLastMonth - i + 1}</li>`
    }
    $('.calendarMonth').html(`
      ${months[currMonth]} ${currYear}
    `)
    
    for (let i=1; i<=lastDateofMonth;i++ ) {
      let isToday = i === date.getDate() && currMonth === new Date().getMonth() && currYear === new Date().getFullYear() ? 'currDay': '';
      change += `
        <li data-date="${currYear}-${("0" + (currMonth+1)).slice(-2)}-${("0" + i).slice(-2)}"  class="currMonth inactive ${isToday}">${i}</li>
      `

    }
    for (let i = lastDayofMonth; i< 6; i++) {
      change += `<li class="inactive">${i - lastDayofMonth + 1}</li>`
    }

    $('.calendarMain .days').html(`${change}`)
  }

  function getCurrentDateAppointments(firstDate, apps, x, y) {
    // console.log(firstDate, apps, x, y)
    if (apps.length > 0) {
      const test2 = apps.filter((item) => item.startAt.includes(y))
    let date = new Date(test2[0].startAt).toLocaleString('en-us', { day: 'numeric',weekday: 'short' , year: 'numeric'})
    $('.slot').empty();

    test2.forEach((item) => {
        const date = new Date(item.startAt);
        const time = date.toLocaleTimeString([], {hour: 'numeric', minute:'2-digit'});
        const time2 = date.toLocaleTimeString('en-us', {hour12: false})
        
        if (time2 > '15:00:00') {
          $('.evening .slot2').remove();
          $('.evening .slot').append(`<div class="bookingButton1 bookBut">${time}</div>`)
        } else if (time2 > "12:00:00" && time2 < '15:00:00') {
          $('.afternoon .slot2').remove();
         
          $('.afternoon .slot').append(`<div class="bookingButton1 bookBut">${time}</div>`)
        } else {
          $('.morning .slot2').remove();         
          $('.morning .slot').append(`<div class="bookingButton1 bookBut">${time}</div>`)

        }
      })
      $('.dayAvailable').html(date)
    } else {

    }
    // else {
    //   const test = apps.filter((item) => item === firstDate)
    // let date = new Date(apps[0].startAt).toLocaleString('en-us', { day: 'numeric',weekday: 'short' , year: 'numeric'})

    //   test.forEach((item) => {
    //     console.log(item)
    //     const date = new Date(item.startAt);
    //     const time = date.toLocaleTimeString([], {hour: 'numeric', minute:'2-digit'});
    //     const time2 = date.toLocaleTimeString('en-us', {hour12: false})

    //     if (time2 > '15:00:00') {
    //       $('.evening').append(`<div>${time}</div>`)
    //     } else if (time2 > "12:00:00" && time2 > '15:00:00') {
    //       $('.afternoon').append(`<div>${time}</div>`)
    //     } else {
    //       $('.morning').append(`<div class="bookingButton1 bookBut">${time}</div>`)

    //     }
    //   })
    //   $('.dayAvailable').html(date)
    // }

  }

  function bookingSq(startDate, endDate, service, stylists) {
    console.log(startDate, endDate)
    
    serviceEnd = service;
    fetch('https://shp-webserver-temp.glitch.me/sq-availability', {
      method: 'POST',
      headers: {
            accept: "application/json",
            "content-type": "application/json"
        },
      body: JSON.stringify ({
          start: startDate,
          end: endDate,
          service: service,
          stylist: stylists
        })
    })
    .then(r=>r.json())
    .then(r=> {
      let apps = r.availabilities
      let dateSelected = new Date().toLocaleString('en-us', {weekday: 'short'});
      let firstDate = r.availabilities[0]
      let v = 0;
      if (apps.length > 0) {
        // console.log(apps)
        $('.currMonth').removeClass('active selected')

        apps.forEach((item) => {
        const date = new Date(item.startAt);
        const day = date.getDate();
        Array.from($('.currMonth')).forEach((item1) => {          
          if (day == item1.innerHTML) {
            if (!item1.classList.contains('active')) {
              item1.setAttribute("data-id", v)
              $(item1).addClass('active')
              v++
            } 
          } 
        })
      })
      $('.currMonth.active').eq(0).addClass('selected')
      let x = $('.currMonth.selected').attr('data-id');
      let y = $('.currMonth.selected').attr('data-date');
      // console.log(y)
      console.log(r.availabilities[x], apps, x , y)
      calendarChange()

      getCurrentDateAppointments(r.availabilities[x], apps, x, y)
      } 
      else {
        $('.currMonth').removeClass('active selected')
        currMonth = currMonth + 1
      if (currMonth < 0 || currMonth > 11) {
        date = new Date(currYear, currMonth);
        currYear = date.getFullYear();
        currMonth = date.getMonth();
      } else {
        date = new Date();
      }
      let test7 = new Date(currYear, currMonth + 1,0)
      let test8 = new Date(currYear, currMonth,1)
      test7.setUTCHours(23,59,59,0)
      calendarChange()
      bookingSq(test8.toISOString(), test7.toISOString(),serviceEnd, stylist)
      }


      $('li.currMonth.active').on('click', function() {
        $('.currMonth.active').removeClass('selected')
        $(this).addClass('selected')
        let x = this.getAttribute('data-id')
        let y = this.getAttribute('data-date')
        getCurrentDateAppointments(r.availabilities[x], apps, x, y)
    }) 

    })

  }

  window.addEventListener('DOMContentLoaded', function() {
    let serviceGender = '';
    let serviceType = '';
    let color = false;
    calendarChange() 
    $('.calendarTop .next-arrow').on('click', function() {
      currMonth = currMonth + 1
      if (currMonth < 0 || currMonth > 11) {
        date = new Date(currYear, currMonth);
        currYear = date.getFullYear();
        currMonth = date.getMonth();
      } else {
        date = new Date();
      }
      let test5 = new Date(currYear, currMonth + 1,0)
      let test6 = new Date(currYear, currMonth,1)
      test5.setUTCHours(23,59,59,0)
      calendarChange()
      bookingSq(test6.toISOString(), test5.toISOString(),serviceEnd)

    })
    $('.calendarTop .prev-arrow').on('click', function() {
      currMonth = currMonth - 1
      if (currMonth < 0 || currMonth > 11) {
        date = new Date(currYear, currMonth, currDate);
        currYear = date.getFullYear();
        currMonth = date.getMonth();
      } else {
        date = new Date();
      }
      let test5 = new Date(currYear, currMonth + 1,0)
      let test6 = new Date(currYear, currMonth,1)
      if (currMonth === new Date().getMonth()) {
        bookingSq(new Date().toISOString(), test5.toISOString(),serviceEnd)
      } else {
        bookingSq(test6.toISOString(), test5.toISOString(),serviceEnd)
      }
      test5.setUTCHours(23,59,59,0)
      calendarChange()
    })

    fetch(`https://shp-webserver-temp.glitch.me/squareup-bookings1`, {
        method: 'POST',
        headers: {
            accept: "application/json",
            "content-type": "application/json"
        }
    })
    .then(r=>r.json())
    .then(r=> {
      let ids = []
      r.team_member_booking_profiles.forEach(item => {
        ids.push(item.team_member_id)
        $('.addNames').append(`
        <span class=display_name>${Array.from(item.display_name)[0]}</span>
        `)
        $('.staffMembers').append(`
        
        <div data-team-member-id="${item.team_member_id}" class='bookingButton1 addNames1'>
          <span class=display_name>${Array.from(item.display_name)[0]}</span>
          <div class=salonist>${item.display_name}</div>
          </div>`)
      });
      $('.staffMembers .addNames1.loaded').attr('data-team-member-id', ids)

      stylist = ids
      $('.staffMembers .addNames1').on('click', function() {
        let memberId = $(this).data('team-member-id')
        // console.log(memberId.split(','))
        stylist = memberId.split(',')
        $('.staffMembers .addNames1').removeClass('loaded')
        $(this).addClass('loaded')
        let date1 = new Date();
        let year = date1.getFullYear();
        let mon = date1.getMonth();
        let test5 = new Date(year, mon + 1,0)
        bookingSq(date1.toISOString(), test5.toISOString(), serviceEnd, stylist)
    })
    })


    $('.buttonApt').on('click', ()=> {

      let setheight = $('.page').height();
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
      $('.mobileInitial').addClass('active')

        $('.mobilePopup').css('max-height', `${setheight}px`);
    })
    $('.mobileCancel').on('click', () => {
      $('.bookingLoad').removeClass('loaded')
      $('.mobilePopup').css('max-height', '0');
      $('.mobileMain').removeClass('active');
      $('.mobileInitial').addClass('active')

    })
    $('#1').on('click', () => {
      $('.mobileInitial').removeClass('active')
      $('.mobileService').addClass('active')
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
    })
    $('.mobileService .bookingButton1').on('click', (e) => {
      e.preventDefault();
      serviceGender = e.target.id;
      if (serviceGender == 'mens' || serviceGender == 'womens') {
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
      $('.mobileService').removeClass('active');
        $('.mobileSystem').addClass('active');
      }
    })
    $('#systemYes').on('click', () => {
      $('.mobileSystem').removeClass('active');
      $('.mobileService2').addClass('active');
    })
    $('.mobileService2 .bookingButton').on('click', (e) => {
      e.preventDefault();
      serviceType = e.target.id;
      if (serviceType == 'Installation' || serviceType == 'Maintenance') {
      $('.mobileService2').removeClass('active');
      $('.mobileService3').addClass('active');
      $('#change').append(`
        (${serviceType} + color) 
      `)
      }
      
    })
    $('.mobileService3 .bookingButton').on('click', (e) => {
      e.preventDefault();
      e.target.innerHTML == 'Yes' ? color=true : color=false;
      $('.mobileService3').removeClass('active');
      $('.serviceBooking').addClass('active');
      $('.bookingLoad:not(.loaded):first').addClass('loaded')
       if (serviceGender == 'mens') {
        if (serviceType == 'Maintenance') {
          if (color) {

            bookingSq(date.toISOString(), test5.toISOString(), "VUIWQXOP26WUZWQMQGBNRGSZ", stylist)
          } else {
            bookingSq(date.toISOString(), test5.toISOString(), "RTGD32YYZ2YK36MUN43WMYEC")
          }
        } else {
          if (color) {
            bookingSq(date.toISOString(), test5.toISOString(), "O6RWN7NFJKTYCTSKXIVKNUUV")
          } else {
            bookingSq(date.toISOString(), test5.toISOString(), "QKVCJJZHAHG3AWGIOVHASRNA")
          }
        }
       } else {
        if (serviceType == 'Maintenance') {
          if (color) {
            bookingSq(date.toISOString(), test5.toISOString(), "OS255XE5HJCLHU43J4YT5R4F")
          } else {
            bookingSq(date.toISOString(), test5.toISOString(), "OK3BPUAMAJYINUKVQJRBHZMB")
          }
        } else {
          if (color) {
            bookingSq(date.toISOString(), test5.toISOString(), "WEXJ7MQTUFSVGFIERPF7IOUW")
          } else {
            bookingSq(date.toISOString(), test5.toISOString(), "RSDJ4PSD2SJ6JBPUSCK274QN")
          }
        }
       }
    })

  })
</script>