<link rel="stylesheet" href="/content/css/slick.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap" rel="stylesheet">
<style>
    .card-link {
        width: fit-content;
    }
    .breadcrumbs {
    display: none;
}
.body.page h1 {
    display: none;
}
.css-1hcx8jb {
    display: none !important;
    font-size: 12px;
}
.page-heading {
    padding-top: 4vh;
}
@media (min-width: 801px) and (max-width:1149px) {
    .body.page {
        margin-top: 2.5rem !important;
    }
}
.body.page {
  padding: 0 !important;
}
p {
  margin: 0 !important;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: mensden;
}
.body.page .container {
  max-width: 100% !important;
  padding: 0px !important;
}
.page {
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  max-width: 100% !important;
}
.page-content.page-content--centered {
  padding: 0 !important;
  width: 100% !important;
}

.hairpatch {
  text-align: center;
}
.hairpatch .banner {
  max-width: none;
}
.hairpatch .banner img {
  width: 100%;
}
.hairpatch--top {
  width: 85%;
  margin: auto;
}
.hairpatch--top h2 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
}
.hairpatch--top .line {
  display: block;
  height: 1px;
  width: 100px;
  margin: auto;
  background-color: black;
  margin-bottom: 50px;
}
.hairpatch--top .block div {
  font-weight: 300;
  font-size: 1.1rem;
  margin: 20px 0;
}
.hairpatch--top .patchGrid {
  display: flex;
  gap: 20px;
}
.hairpatch--top .patchGrid .name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
  line-height: 1.2;
  padding-top: 10px;
}
.hairpatch--top .patchGrid .price {
  font-weight: 500;
  font-size: 1.4rem;
  color: black;
  margin: 15px 0;
}
.hairpatch--top .patchGrid a {
  width: 100%;
  background-color: black;
  border-radius: 5px;
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

.hairpatch--mid {
  margin-top: 150px;
  position: relative;
}
.hairpatch--mid .block {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  top: -140px;
  width: 100%;
  justify-content: center;
}
.hairpatch--mid .block img {
  /* width: 70%; */
  margin: auto;
  max-width: 330px;
}
.hairpatch--mid .block div {
  height: fit-content;
}
.hairpatch--mid .block1 {
  background: rgba(112, 119, 79, 1);
  color: white;
}
.hairpatch--mid .block1 .text {
  width: 85%;
  margin: auto;
  padding-top: 45vw;
  padding-bottom: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

.patchBottomGrid {
  margin-top: 30px;
}

.patchBottomGrid .block {
  flex: 1;
    display: flex;
    overflow: auto;
}

.patchBottomGrid .productGrid{
  display: flex;
  min-height: min-content;
  flex-wrap: nowrap;
}
.patchBottomGrid .productGrid .product {
  width: 250px;
  padding-left: 50px;
  text-align: start;
}
.hairpatch--top .line1 {
  display: none;
}
@media (min-width : 400px) {
.hairpatch--mid .block1 .text {
    padding-top: 175px;
  }
}

@media (min-width: 700px) {
  .hairpatch--top {
    max-width: 1000px;
  }
  .hairpatch--top .block {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin-bottom: 30px;
    text-align: start;
    align-items: center;
  }

  .hairpatch--top .block img {
    height: 200px;
    aspect-ratio: auto;
  }
  .hairpatch--top .patchGrid a {
    width: 200px;
    margin: auto;
  }
}
@media (min-width: 900px) {
  .hairpatch--top .block div {
    font-size: 1.3rem;
  }
  .hairpatch--mid {
    margin-top: 200px;
  }
  .hairpatch--mid .block1 {
    display: flex;
    justify-content: end;
  }
  .hairpatch--mid .block1 .text {
    width: 60%;
    text-align: left;
    margin: unset;
    padding: 95px 0;
    margin-right: 5vw;
    line-height: 1.7;
  } 
  .hairpatch--mid .block {
    bottom: 0;
    top: unset;
    justify-content: start;
  }
  .hairpatch--mid .block img {
    margin: unset;
  }
  .hairpatch--top .block {
    margin-bottom: 100px;
  }
  .hairpatch--top .patchGrid .name {
    font-size: 1.5rem;
    padding-top: 20px;
  }
  .hairpatch--top .patchGrid {
    gap: 100px;
    position: relative;
  }
  .hairpatch--top .line1 {
    display: block;
    height: 30%;
    width: 1px;
    background-color: #B4ADAD;
    position: absolute;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .hairpatch--top .line {
    display: none;
  }
}
@media (min-width: 1000px) {
  .patchBottomGrid .block {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .hairpatch--top h2 {
    font-size: 3rem;
    margin: 60px 0;
  }
  .hairpatch--mid .block1 {
    /* padding-right: 5%; */
    /* padding-right: 10%; */
  }
  .hairpatch--mid .block1 .text {
    width: 700px;
    font-size: 1.5rem;
  }

  .hairpatch--mid .block img {
    position: absolute;
    max-width: 400px;
    /* left: 20%; */
    left: calc(45px + 100vw - 1024px);
    transform: translateX(-50%);
    bottom: 0;
  }
}
@media (min-width: 1500px) {
  .hairpatch--mid .block img {
    left: 25%;

  }
  .hairpatch--mid .block1 .text {
    /* margin-right: calc((100vw - 200px) + 10%); */
    margin-right: 20%;

  }
}
@media (min-width: 1785px) {
  .hairpatch--mid .block img {
    left: 30%;
  }
}
</style>
<img src="/content/images/marketing/hairPatches/thumbnail-2.jpg" alt="thumbnail" style="width:0px;height:0px;opacity:0; position: absolute;"/>
<section class="hairpatch">
  <div class="banner">
    <picture>
      <!-- <source media="(min-width:700px)" srcset="/content/images/marketing/hairPatches/banner-pc.jpg" type="image/jpg" /> -->
      <source media="(min-width:700px)" srcset="/content/images/marketing/hairPatches/banner-pc.png" type="image/png" />
      <img src="/content/images/marketing/hairPatches/banner-mobile.jpg" />
    </picture>
  </div>
  <div class="hairpatch--top">
    <h2>Hair Patches</h2>
    <span class="line"></span>
    <div class="block">
      <img src="/content/images/marketing/hairPatches/image1.jpg">
      <div>
        Are you a young adult noticing a significant receding frontal hairline and needing an immediate solution? Try out our super comfortable, natural-looking FR111, a small hairpiece specially made to camouflage hair loss in the frontal hairline. Its soft, clear see-through thin-skin polyurethane base comes with v-looped 4-6'' high-quality soft fine regular Indian remy human hair strands without any knots. It allows you to carry out just about any frontal hairstyle with ease.
      </div>
    </div>
    <div class="patchGrid">
    <span class="line1"></span>
    </div>
  </div>
  <div class="hairpatch--mid">
    <div class="block">
      <picture>
        <source media="(min-width:900px)" srcset="/content/images/marketing/hairPatches/mid-image-desktop.png" type="image/png" />
      <img src="/content/images/marketing/hairPatches/mid-image.png">
      </picture>
    </div>
    <div class="block1">
      <div class="text">This light-density, cost-effective, small hair patch can be sized down to match the area of your frontal hair loss, providing much-needed coverage only where needed.</div>
    </div>
  </div>
  <div class="patchBottomGrid">
    <div class="block">
      <ul class="productGrid">
      </ul>
    </div>
  </div>
</section>
<script async id="stamped-script-widget" data-store-hash="cavofu" src="https://cdn1.stamped.io/files/bigcommerce.min.js"></script>
<script src="/content/js/slick.min.js" defer></script>
<script>

  function addProducts(ids) {
    let token = $("[name=store-token]").val();
    fetch("/graphql", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Authorization' : `Bearer ${token}`
      },
            body: JSON.stringify({query: `
                query SingleProduct {
                    site {
                        products (entityIds:${ids}) {
                        edges {
                            node {
                                            entityId 
                                            sku 
                                            path 
                                            name 
                                            customFields {
                                                edges {
                                                    node {
                                                        name 
                                                        value
                                                    }
                                                }
                                            }
                                            categories { 
                                                edges {
                                                    node {
                                                        name
                                                    }
                                                }
                                            }
                                            defaultImage {
                                                url(width: 500, height: 500)
                                            }
                                            prices {
                                                price{
                                                    ...PriceFields
                                                }
                                            }
                                        }
                        }
                        }
                    }
                    }
                    fragment PriceFields on Money{
                        value 
                        currencyCode 
                        formatted
                    }
                `})
    })
    
    .then(r=>r.json())
    .then((r) => {
      let products = r.data.site.products.edges;
      for (const product of products) {
        $('.patchBottomGrid .productGrid').append(
      ` <li class='product'> 
        <article class="card "> 
          <figure class="card-figure"> 
            <a target="_blank" href="${product.node.path}"> 
              <img class="card-image lazyload" data-sizes="auto" src="/content/images/common/loading.svg" data-src="${product.node.defaultImage.url}" > 
            </a> 
            <a target="_blank" href="${product.node.path}" class="card-figure-overlay-wrap">     <div class="card-figure-overlay"></div>
              <div class="card-link--alternate">See Buying Options</div>
            </a> 
          </figure> 
          <div class="card-body"> 
            <span class=" stamped-product-reviews-badge" data-id="${product.node.entityId}" data-product-sku="${product.node.sku}" style="display:block;"></span><h4 class="card-title"> <a target="_blank" href="${product.node.path}">${product.node.name}</a> </h4> </div></article> <div class='card-price'> <div class="card-text" data-test-info-type="price"> <div class="price-section price-section--withoutTax " > <span data-price-id="${product.node.entityId}" data-product-price-without-tax class="price price--withoutTax">${product.node.prices.price.formatted}</span> </div></div><a href="${product.node.path}" class="card-link">See Buying Options</a> </div></li>`
  );
      }
    StampedFn.loadBadges();

    })
  }

  function addHairPatch(ids) {
    let token = $("[name=store-token]").val();
    fetch("/graphql", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization' : `Bearer ${token}`
            },
            body: JSON.stringify({query: `
                query SingleProduct {
                    site {
                        products (entityIds:${ids}) {
                        edges {
                            node {
                                            entityId 
                                            sku 
                                            path 
                                            name 
                                            customFields {
                                                edges {
                                                    node {
                                                        name 
                                                        value
                                                    }
                                                }
                                            }
                                            categories { 
                                                edges {
                                                    node {
                                                        name
                                                    }
                                                }
                                            }
                                            defaultImage {
                                                url(width: 500, height: 500)
                                            }
                                            prices {
                                                price{
                                                    ...PriceFields
                                                }
                                            }
                                        }
                        }
                        }
                    }
                    }
                    fragment PriceFields on Money{
                        value 
                        currencyCode 
                        formatted
                    }
                `})
            })
            .then(r=>r.json())
            .then(r => {
              let products = r.data.site.products.edges;
              for (const product of products) {
                $('.patchGrid').append(`
                  <div class='item'>
                    <img src=${product.node.defaultImage.url}>  
                    <div class='name'>${product.node.name.replace("patch", "patch <br/>")}</div>
                    <div class='price'>${product.node.prices.price.formatted}</div>
                    <a target=_blank href=${product.node.path}>Shop Now</a>
                  </div>
                `)
              }
            })

  }
  

  window.addEventListener("DOMContentLoaded", function() {
    addHairPatch('[7261, 7262]');
    // addHairPatch('[3574, 3575]');
    addProducts('[437, 439, 1294, 561]');
    // addProducts('[1224, 1226, 1558, 1267]');
  })
</script>