<link rel="stylesheet" href="/content/css/slick.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
<style>
    .breadcrumbs {
    display: none;
}
.body.page h1 {
    display: none;
}
.css-1hcx8jb {
    display: none !important;
    font-size: 12px;
}
.page-heading {
    padding-top: 4vh;
}
@media (min-width: 801px) and (max-width:1149px) {
    .body.page {
        margin-top: 2.5rem !important;
    }
}
.body.page {
  padding: 0 !important;
}
p {
  margin: 0 !important;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: mensden;
}
.body.page .container {
  max-width: 100% !important;
  padding: 0px !important;
}
.page {
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  max-width: 100% !important;
}
.page-content.page-content--centered {
  padding: 0 !important;
  width: 100% !important;
}
</style>
<style>
  .arrivalNav {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    gap: 40px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgba(119, 110, 101, 1);
  }
  .arrivalNav::-webkit-scrollbar {
    display: none;
  }
  .arrivalNav .item {
    width: fit-content;
    color: white;
    flex: 0 0 auto;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
  }
  .arrivalExplore {
    padding: 40px;
    text-align: center;
    
  }
  .arrivalExplore h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
    color: black;
  }
  .arrivalExplore p {
    padding-bottom: 20px;
    color: black;
  }
  .arrivalLuxury .banner {
    display: flex;
  }
  .arrivalLuxury .block {
    background-color: rgba(61, 1, 82, 1);
    color: white;
    padding: 40px 60px;
  }
  .arrivalLuxury .block h3 {
    font-size: 45px;
    font-weight: 400;
    color: white;
    margin: 0;
    font-family: 'Cinzel', serif;
    line-height: 0.9;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .arrivalLuxury .block p {
    padding-bottom: 10px;
    font-weight: 300;
  }
  .arrivalLuxury .block div {
    color: black;
    background-color: rgba(241, 241, 241, 1);
    width: 100%;
    border-radius: 40px;
    text-align: center;
    padding: 10px 25px;
    text-transform: capitalize;
    margin-top: 30px ;
  }
  .arrivalWomen {
    width: 90%;
    margin: auto;
  }
  .arrivalWomen .productGrid {
    height: fit-content;
  }
  .card-mark-image {
    position: absolute;
    z-index: 1;
    right: 20px;
  }
  .slick-list .card-link {
    display: block;
  }
  .slick-list .card-price {
    display: block;
  }
</style>
<!-- <img src="/content/images/marketing/prof-acc/thumbnail.jpg" alt="thumbnail" style="width:0px;height:0px;opacity:0"/> -->
<section>
  <div>
    <picture>
      <source media="(min-width:700px)" srcset="../../../assets/img/new-arrivals/hero-desktop.jpg" type="image/jpg">
      <img src="../../../assets/img/new-arrivals/hero-mobile.jpg">
    </picture>
  </div>
  <div class="arrivalNav">
    <div class="item">Women</div>
    <div class="item">Men</div>
    <div class="item">Kids</div>
    <div class="item">Supplies</div>
    <div class="item">Extensions</div>
    <div class="item">New Colors</div>
  </div>
  <div class="arrivalExplore">
    <h2>Explore Our Latest Collection of Hair Systems, Wigs, Toppers and More</h2>
    <p>At Superhairpieces we are proud to be a major part of transformational real life stories, where our hairpieces/hair systems boost a person’s appearance, confidence, and self-esteem. <a>Show more</a></p>
    <p>
      Call us at 1-866-814-7879 or email us at <a href="mailto:sales@superhairpieces.com">sales@superhairpieces.com</a> to talk to a customer support agent.
    </p>
    <picture>
      <!-- <source media="(min-width:700px)" srcset="../../../assets/img/new-arrivals/hero-desktop.jpg" type="image/jpg"> -->
      <img src="../../../assets/img/new-arrivals/explore1-mobile.jpg">
    </picture>
  </div>
  <div class="arrivalLuxury">
    <div class="banner">
      <picture>
        <img src="../../../assets/img/new-arrivals/luxury1-mobile.jpg">
      </picture>
      <picture>
        <img style="height:100%; object-fit: cover; object-position: left;" src="../../../assets/img/new-arrivals/luxury2-mobile.jpg">
      </picture>
    </div>
    <div class="block">
      <h3>Absolute Luxury</h3>
      <p>100% Premium Chinese human hair</p>
      <p>An enviable range of exclusive new hair toppers & wigs that reflect extraordinary, unmatched hair quality. Each hairpiece is handcrafted to perfection, durable, and super natural-looking.</p>
      <div>Indulge in our exceptional hair toppers & wigs</div>
    </div>
  </div>
  <div class="arrivalWomen">
    <h2>Women's wigs & toppers</h2>
    <ul class="productGrid">

    </ul>
  </div>
</section>
<script src="/content/js/slick.min.js" defer></script>

<script>

  function addWomenProducts() {
    let token = $("[name=store-token]").val();
    fetch("/graphql", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            },
            body: JSON.stringify({query:`
                query NewProducts {
                    site {
                        category (entityId: 1055) {
                            
                                    entityId
                                    products (first: 20){
                                      edges {
                                        node {
                                          entityId
                                          sku
                                          path
                                          name
                                          defaultImage {
                                              url (width: 200)
                                          } 
                                          prices {
                                            price {
                                              ...PriceFields
                                            }
                                          }
                                        }
                                      }
                                    }
                                    
                               
                        }
                    }
                }
                fragment PriceFields on Money {
                    value
                    currencyCode
                    formatted
                }
                
            `})                    
        })
        .then((r) => r.json())
        .then((r) => {
          let products = r.data.site.category.products.edges;
          console.log(products)
          products.forEach((item) => {
            $('.arrivalWomen .productGrid').append(`
            <li class='product'>
              <article class="card ">
                <figure class="card-figure">
            <img class="card-mark-image" src="/content/images/common/New.svg" width="50" height="50" alt="New Arrival">  

                        <a target="_blank" href="">
                            <img class="card-image lazyload" data-sizes="auto" src="https://cdn11.bigcommerce.com/s-gmosz3ja/stencil/7a9ce710-ea8d-013a-285f-7ec12a36f777/e/adc09730-ee7e-013a-90a8-7a18066a9229/img/loading.svg" data-src="${item.node.defaultImage.url}" >
                        </a>
                    <a target="_blank" href="" class="card-figure-overlay-wrap">
                        <div class="card-figure-overlay"></div>
                        <div class="card-link--alternate">See Buying Options</div>
                    </a>
                    
                </figure>
                <div class="card-body">
                    <span class=" stamped-product-reviews-badge" data-id="${item.node.entityId}" data-product-sku="${item.node.sku}" style="display:block;"></span>
                    <h4 class="card-title">
                            <a target="_blank" href="">${item.node.name}</a>
                    </h4>
                          
                </div>
              </article>
              <div class='card-price'>
                          <div class="card-text" data-test-info-type="price">
                            <div class="price-section price-section--withoutTax "  >
                                <span data-price-id="${item.node.entityId}" data-product-price-without-tax class="price price--withoutTax">${item.node.prices.price.formatted}</span>
                            </div>
                          </div>
                          <a href="" class="card-link">See Buying Options</a>
              </div>  
            </li>
            
            `)
          });
          var productdivs = $('ul .product');
          for(var i=0; i < productdivs.length; i+=4) {
            productdivs.slice(i, i+4).wrapAll("<div class='productRow'></div>");
          }
          $('.arrivalWomen .productGrid').slick({
            "dots": true,
            "infinite": true,
            "arrows": false,
            "mobileFirst": true,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "autoplay" : false,
            "draggable" : true,
          })
        })
  }
  window.addEventListener('DOMContentLoaded', function() {
    addWomenProducts();
  })
</script>