<link href=' http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<div style="position: relative">
    <div class="menu-wrap">
        <div class="menu-items">
            <div class="menu-item">
                <a href="/featured-salons/">Featured Salons</a>
            </div>
            <div class="menu-item">
                <a href="/become-a-media-partner/">Become a Media Partner</a>
            </div>
            <div class="menu-item">
                <a href="#">Reviews</a>
            </div>
            <div class="menu-item">
                <a href="/featured-salons/">Resources</a>
            </div>
        </div>

    </div>
</div>
<style>
    .breadcrumbs {
      padding-top: 4vh;
     }
     [data-testid=card-component] {
        display: none;
    }
    .css-1hcx8jb {
        display: none !important;
        font-size: 12px;
    }
    .page-heading {
        padding-top: 4vh;
    }
    .body.page {
      padding: 0 !important;
    }
    p {
      margin: 0 !important;
    }
    body {
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-y: scroll;
      overflow-x: mensden;
    }
    body::-webkit-scrollbar {
      display: none;
      max-width: 100% !important;
      padding: 0 !important;
    }
    .body.page .container {
      max-width: 100% !important;
      padding: 0px !important;
    }
    .page {
      margin: 0 !important;
      margin-bottom: 0 !important;
      margin-top: 0 !important;
      max-width: 100% !important;
    }
    .page-content.page-content--centered {
      padding: 0 !important;
      width: 100% !important;
    }
    .menu-items {
        display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0;
    margin: 0 auto;
    flex-wrap: wrap
    }
    .menu-item {
        font-size: 15px;
    margin: 0 20px 20px;
    position: relative;
    cursor: pointer;
    }
    .menu-item a {
        text-decoration: none;
    }
  </style>

 <script>
    function openSubMenu(x) {
        
    }
 </script>