<style>
    /* Clearing Website Theme*/
    
    .breadcrumbs {
        display: none;
    }
    .page-heading {
        display: none;
    }
    .body.page{
        padding: 0!important;
    }
    p{
        margin: 0!important;
        display: none !important;
    }
    body {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
      overflow-y: scroll; 
      overflow-x:hidden;
    }

    .body.page .container {
        max-width: 100%!important;
        padding: 0px !important;
    }
    .page{
        margin: 0 !important;
        margin-bottom: 0!important;
        margin-top: 0 !important;
        max-width: 100% !important;
    }
    .page-content.page-content--centered{
        padding: 0!important;
        width: 100% !important;
    }
</style>


<!-----Banner----->


<style> 
.smw-banner-container{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    min-height: 350px;
    position: absolute;
    top: 0px;
    margin: auto !important;
}

    .smw-banner-text-container{
        max-width: 400px;
        margin: auto;
    }
        .smw-text{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #000000;
        }
        .smw-platforms-container{
            padding-top: 2vh;
            display: flex; 
            flex-wrap: nowrap;
            padding-bottom: 2vh;
        }
            .smw-platforms-container > div{
                width: 60px;
                text-align: center;
                line-height: 75px;
                font-size: 30px;
                padding-left:10px;
                padding-right:10px;
                margin: auto;
            }
        .smw-get10off{
            width: 100%;
            margin: 0;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 96px;
            text-align: center;
            color: #000000;
        }
        .smw-next-purchase-box{
            margin: auto;
            height: 50px;
            width: 300px;
            padding-top: 12px;
            background-color: white;
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            border-radius: 4px;
        }

        .smw-newsletter-box{
            margin: auto;
            max-width: 680px;
            height: 50px;
            text-align: center;
            border-radius: 4px;
        }
        .smw-newsletter-email
        {
            margin: auto;
            height: 50px;
            background: #ffffff;
            text-align: center;
            margin-right: 0;
            width: 67%;
            border-radius: 4px;
            padding: 0;
            border: 0;
            padding-left: 1.5vw;
            font-family: 'Poppins';
            font-style: normal;
            font-size: 16px;
            line-height: 19px;
        }

        .smw-newsletter-signup{
            margin: auto;
            height: 50px;
            background: #CFBDFA;
            text-align: center;
            margin-right: 0;
            width: 30%;
            border-radius: 4px;
            padding: 0;
            border: 0;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
        }
        .smw-parent{
            position:relative;
            max-width: 100%;
            max-height: 100%;
        }
        .smw-gap{
            height: 4vh;
        }
        
        .smw-purpler-banner{
            height: 565px; 
            width: 100%;
            justify-content:center;
            text-align:center;
        }
        @media (max-width: 600px){
            .smw-get10off{
          
            font-size: 84px !important;
            
        }
        }

        @media (max-width: 500px) {
            .smw-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px
            }
            .smw-banner-text-container{
                max-width: 350px;
            }
            .smw-get10off{
                font-weight: 400 !important;
                font-size: 48px !important;
                line-height: 72px !important;
            }
            .smw-newsletter-box{
                padding-left: 3vw;
                padding-right: 3vw;
            }
            .smw-line{
                display: none;
            }
            .smw-purpler-banner{
                height: 420px !important;
            }
        }      
</style>

<img src="/content/images/marketing/socialMediaWomens/social-media-womens/thumbnail.jpg" alt="thumbnail" style="width:0px;height:0px;opacity:0;"/>
<div class="smw-parent"> 
    <picture>
        <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/banner.webp" type="image/webp">
        <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/banner.jpg" type="image/jpeg"> 
        <img class="smw-purpler-banner"src="/content/images/marketing/socialMediaWomens/social-media-womens/banner.jpg">
    </picture>
    
    <div class="smw-banner-container">
        <div class="smw-banner-text-container">
            <div class="smw-text"style="padding-top: 3vh">Follow Us</div>
            <div class="smw-platforms-container">
                <div>
                    <a href="https://www.youtube.com/c/SuperhairpiecesBabes/" target="_blank">
                            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/m5.png">
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/thesuperhairpieces/" target="_blank">
                        <img src="/content/images/marketing/socialMediaWomens/social-media-womens/m1.png">
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/superhairpiecesbabes/?hl=en/" target="_blank">
                        <img src="/content/images/marketing/socialMediaWomens/social-media-womens/m2.png">
                    </a>
                </div>
                <div>
                    <a href="https://www.pinterest.ca/superhairpieces/_created/" target="_blank">
                        <img src="/content/images/marketing/socialMediaWomens/social-media-womens/m6.png">
                    </a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/company/superhairpieces/" target="_blank">
                        <img src="/content/images/marketing/socialMediaWomens/social-media-womens/m3.png">
                    </a>
                </div>
                <div>
                    <a href="https://www.tiktok.com/@superhairpiecesbabes?lang=en/" target="_blank">
                        <img src="/content/images/marketing/socialMediaWomens/social-media-womens/m4.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="smw-get10off">GET $10 OFF</div>
        <div class="smw-next-purchase-box">ON YOUR NEXT PURCHASE</div>
        <div class="smw-text" style="padding-top: 2vh;padding-bottom: 2vh;">by subscribing to our newsletter to get <br/>our latest news and offers!</div>
        <div class="smw-newsletter-box">
            <form class="content">
                <div id="omnisend-embedded-v2-62b9d47a1d5fd714293c826b"></div>                    
            </form>
            <div class="smw-gap"></div>
            <div class="smw-gap"></div>
        </div>
    </div>
</div>

<style>
 .soundest-form-embedded-v2-submit{
    background-color:#CFBDFA !important;
    color: #000000 !important;
    outline: none !important;
    border: none !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 19px !important;
 }
 .soundest-form-embedded-v2-field{
    border: none !important;
    outline: none !important;
    color: #000000 !important;
 }
 @media(max-width: 369px){
        .smw-purpler-banner{
            height: 450px !important;
        }
    }
</style>

<!------Shop by Category----->


<style>
     .smw-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #000000;
        padding-top: 8vh; 
        padding-bottom: 4vh
    }

    .smw-category-container{
        max-width: 1050px;
        margin: auto;
        display: flex; 
        flex-wrap: nowrap;
    }
        .smw-category-container > div{
            width: 245px;
            text-align: center;
            font-size: 30px;
            padding-left:10px;
            padding-right:10px;
            margin: auto;
        }
    .smw-labels{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        padding-top: 1vh;

    }
    @media (max-width: 500px) {
        .smw-title{
            padding-top: 4vh; 
            padding-bottom: 2vh
        }
        .smw-category-container{
            padding-left: 3vw!important;
            padding-right: 3vw!important;
        }

        .smw-category-container > div{
            padding-left:3vw;
            padding-right:3vw;
        }
        .smw-labels{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #000000;
        }
    }
</style>

<div class="smw-title">Shop by Category</div>
<div class="smw-category-container">
    <div>       
        <a href="https://www.superhairpieces.com/hair-extensions/" target="_blank">     
            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/c1.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/c1.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/c1.jpg">
            </picture>
        </a>
        <div class = "smw-labels"><a href="https://www.superhairpieces.com/hair-extensions/" target="_blank" style="text-decoration-line: none">Extensions</a></div>
    </div>
    <div>
        <a href="https://superhairpieces.com/human-hair-toppers-pieces-for-women/" target="_blank">     

            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/c2.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/c2.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/c2.jpg">
            </picture>
        </a>
        <div class = "smw-labels"><a href="https://www.superhairpieces.com/human-hair-toppers-pieces-for-women/" target="_blank" style="text-decoration-line: none">Toppers</a></div>
    </div>
    <div>
        <a href="https://superhairpieces.com/human-hair-wigs-for-women/" target="_blank">     
            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/c3.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/c3.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/c3.jpg">
            </picture>
        </a>
        <div class = "smw-labels"><a href="https://superhairpieces.com/human-hair-wigs-for-women/" style="text-decoration-line: none" target="_blank">Wigs</a></div>
    </div>
</div>


<!------Shop our Haircare Products----->


<div class="smw-title">Shop our Haircare Products </div>

<div class="smw-category-container">
    <div>
        <a href="https://superhairpieces.com/hair-shampoo/" target="_blank">     
            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/p1.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/p1.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/p1.jpg">
            </picture>
        </a>
        <div class = "smw-labels"><a href="https://superhairpieces.com/hair-shampoo/" target="_blank" style="text-decoration-line: none">Shampoos</a></div>
    </div>
    <div>
        <a href="https://www.superhairpieces.com/conditioner/" target="_blank">     
            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/p2.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/p2.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/p2.jpg">
            </picture>
        </a>
        <div class = "smw-labels"><a href="https://www.superhairpieces.com/conditioner/" target="_blank" style="text-decoration-line: none">Conditioners</a></div>
    </div>
    <div>
        <a href="https://superhairpieces.com/hair-spray-and-gels/" target="_blank">     
            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/p3.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/p3.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/p3.jpg">
            </picture>
        </a>
        <div class = "smw-labels"><a href="https://superhairpieces.com/hair-spray-and-gels/" target="_blank" style="text-decoration-line: none">Styling</a></div>
    </div>
</div>


<!--- Our Clients-->
<div class="smw-title">Our Real-life Stars</div>
<style>
.smw-stars-4x2{
    max-width: 1010px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  
  }
  .smw-stars-4x2 div {
    aspect-ratio: 1;
  }
.smw-stars-3x3{
    display: none;
    max-width: 450px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-left: 6vw !important;
    padding-right: 6vw !important;
    }
    .smw-stars-3x3 div {
        aspect-ratio: 1;
    }
@media(max-width: 1010px){
    .smw-stars-4x2{
        padding-left: 6vw !important;
        padding-right: 6vw !important;
    }
}

@media (max-width: 500px){
    .smw-stars-4x2{
        display: none;
    }
    .smw-stars-3x3{
        display: grid !important;
    }

}
</style>

  <div class="smw-stars-4x2">
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s1.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s1.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s1.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s2.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s2.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s2.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s3.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s3.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s3.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s4.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s4.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s4.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s5.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s5.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s5.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s6.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s6.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s6.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s7.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s7.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s7.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s8.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s8.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s8.jpg">
        </picture>
    </div>
  </div>
<div class="smw-stars-3x3">

    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s1.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s1.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s1.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s2.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s2.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s2.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s3.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s3.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s3.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s4.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s4.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s4.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s5.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s5.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s5.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s6.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s6.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s6.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s7.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s7.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s7.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s8.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s8.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s8.jpg">
        </picture>
    </div>

    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s9.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/s9.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaWomens/social-media-womens/s9.jpg">
        </picture>
    </div>

</div>


<!-----Special Promos----->


<style>
.smw-promo-box{
    max-width: 1050px;
    margin: auto;
    position: relative;
    padding-bottom: 5vh;
}
.smw-promo-left{
    max-width: 50%;
    width: 50%;
    padding-left: 1vw;
    text-align: center;
    padding-right: 1vw;
}
.smw-promo-right{
    max-width: 50%;
    width: 50%;
    padding-left: 1vw;
    padding-right: 1vw;

    text-align: center;
}
.smw-row{
    display: flex;
    margin: auto;
    max-height: 200%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 1050px) { 
    .smw-row{
        flex-direction: column;
        padding-bottom: 0vh !important;
    }
    .smw-promo-box{
        padding-bottom: 3vh !important;
    }
    .smw-promo-left{
        padding-left: 0vw !important;
        padding-right: 0vw !important;
        text-align: center !important;
        max-width: 100% !important;
        width: 100% !important;
        padding-bottom: 8vh !important;
    }
    .smw-promo-right{ 
        padding-left: 0vw !important;
        padding-right: 0vw !important;
        text-align: center !important;
        max-width: 100% !important;
        width: 100% !important;
    }       
}
    .smw-promo-text-1{
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin: auto;
        color: #ffffff;
    }
    .smw-promo-text-2{
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 24px;
        margin: auto;
        color: #ffffff;
    }
    .smw-promo-text-3{
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        margin: auto;
        color: #ffffff;
    }

    .smw-promo-text-4{
        position: relative;
        height: 40px;
        width: 160px;
        background: #CFBDFA;
        margin: auto;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
        border-radius: 4px;
    }
    .smw-promo-text-group{
       margin-top: -175px;

    }
    @media (max-width: 500px){
        .smw-promo-text-group{
            margin-top: -170px;
        }
    }
    @media (max-width: 450px){
        .smw-promo-text-group{
            margin-top: -165px;
        }
    }
    @media (max-width: 400px){
        .smw-promo-text-group{
            margin-top: -150px;
        }
    }
    @media (max-width: 350px){
        .smw-promo-text-group{
            margin-top: -145px;
        }
    }

</style>


<div class="smw-title">Special Promos</div>
<div class = "smw-promo-box">
    <div class = "smw-row">
        <div class = "smw-promo-left">
            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/sp1.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/sp1.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/sp1.jpg">
            </picture>
            
            <div class="smw-promo-text-group">
                <div class="smw-promo-text-1">Become a</div>
                <div class="smw-promo-text-2">Superhaircreator</div>
                <div class="smw-promo-text-3">And get lots of benefits!</div>
                <a href="https://www.superhairpieces.com/superhair-creator/" target="_blank" style="text-decoration: none">
                    <div class="smw-promo-text-4">LEARN MORE</div>               
                </a>
            </div>

        </div>


        <div class = "smw-promo-right">
            <div style="position: relative">
                <a href="https://www.superhairpieces.com/fall-sale-2022/">
                <picture>
                    <img src="/content/images/marketing/socialMediaWomens/social-media-womens/fall-sale.jpg">
                </picture>
                </a>
    
                </div>

        </div>
    </div>
</div>


<!------#SHP Tutorials-->


<style>
    .smw-videos {
        display: flex;
        margin: auto;
        max-height: 300%;
        max-width: 1050px;
        margin-bottom: 50px;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .smw-videos-column1 {
        flex: 1;
        max-width: 350px;
        max-height: 100%;
        text-align: left;
    }
    .smw-videos-column2 {
        flex: 1;
        max-width: 350px;
        max-height: 100%;
        text-align: center;
    }
    .smw-videos-column3 {
        flex: 1;
        max-width: 350px;
        max-height: 100%;
        text-align: right;
    }
    .smw-link{ 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
        padding-bottom: 4vh;
    }

    @media (max-width: 1050px) {
        .smw-videos {
            flex-direction: column;
        }
        .smw-videos-column1 {
            text-align: center;
            margin: auto;
            padding-bottom: 2vh;
        }
        .smw-videos-column2 {
            text-align: center;
            margin: auto;
            padding-bottom: 2vh;
        }
        .smw-videos-column3 {
            text-align: center;
            margin: auto;
        }
    }
    
</style>

<div class="smw-title" style="padding-bottom: 0vh !important;">#SHPtutorials</div>
<div class="smw-link"><a href="https://www.youtube.com/channel/UCvHVwVjaYAma9Vj-My1VYqg" target="_blank">More Tutorials on Youtube!</a></div>
<div class="smw-videos">
    <div class="smw-videos-column1">
        <iframe
            width="330"
            height="185.625"
            src="https://www.youtube.com/embed/5MrdxFcbhnc?rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="smw-videos-column2">
        <iframe
            width="330"
            height="185.625"
            src="https://www.youtube.com/embed/8ps0ij7fFlo?rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="smw-videos-column3">
        <iframe
            width="330"
            height="185.625"
            src="https://www.youtube.com/embed/Fkhv4Y520po?rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>


<!-----Trending Blogs----->


<div class="smw-title"style="padding-top: 2vh!important; padding-bottom: 0vh !important;">Trending Blogs</div>
<div class="smw-link"><a href="https://www.superhairpieces.com/toupee-wig-hair-system-blog/" target="_blank">More Blogs on our Website!</a></div>
<div class="smw-videos">
    <div class="smw-videos-column1">
        <a href="https://superhairpieces.ca/blog/easiest-hair-extensions-to-install-and-apply-yourself/" target="_blank">        
            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/b1.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/b1.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/b1.jpg">
            </picture>
        </a>
    </div>
    <div class="smw-videos-column2">
        <a href="https://superhairpieces.ca/blog/beginners-guide-how-to-buy-hair-extensions/" target="_blank">        
            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/b2.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/b2.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/b2.jpg">
            </picture>
        </a>
    </div>
    <div class="smw-videos-column3">
        <a href="https://superhairpieces.ca/blog/hairpieces-and-the-lgbtq2s-community/" target="_blank">        
            <picture>
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/b3.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaWomens/social-media-womens/b3.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaWomens/social-media-womens/b3.jpg">
            </picture>
        </a>
    </div>

    