<style>
    /* Clearing Website Theme*/
    
    .breadcrumbs {
        display: none;
    }
    .page-heading {
        display: none;
    }
    .body.page{
        padding: 0!important;
        
    }
    
    p{
        margin: 0!important;
        display: none !important;

    }
    body {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
      overflow-y: scroll; 
      overflow-x:hidden;
    }

    .body.page .container {
        max-width: 100%!important;
        padding: 0px !important;
    }
    .page{
        margin: 0 !important;
        margin-bottom: 0!important;
        margin-top: 0 !important;
        max-width: 100% !important;
    }
    .page-content.page-content--centered{
        padding: 0!important;
        width: 100% !important;
    }
</style>


<!-----Banner----->


<style> 
.smm-banner-container{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    min-height: 350px;
    position: absolute;
    top: 0px;
    margin: auto !important;
}

    .smm-banner-text-container{
        max-width: 400px;
        margin: auto;
    }
        .smm-text{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #ffffff;
        }
        .smm-platforms-container{
            padding-top: 2vh;
            display: flex; 
            flex-wrap: nowrap;
            padding-bottom: 2vh;
        }
            .smm-platforms-container > div{
                width: 60px;
                text-align: center;
                line-height: 75px;
                font-size: 30px;
                padding-left:10px;
                padding-right:10px;
                margin: auto;
            }
        .smm-get10off{
            width: 100%;
            margin: 0;
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 96px;
            text-align: center;
            color: #ffffff;
        }
        .smm-next-purchase-box{
            margin: auto;
            height: 50px;
            width: 300px;
            padding-top: 12px;
            background-color: #EB832E;
            
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            border-radius: 4px;
        }

        .smm-newsletter-box{
            margin: auto;
            max-width: 680px;
            height: 50px;
            text-align: center;
            border-radius: 4px;
        }
        .smm-newsletter-email
        {
            margin: auto;
            height: 50px;
            background: #ffffff;
            text-align: center;
            margin-right: 0;
            width: 67%;
            border-radius: 4px;
            padding: 0;
            border: 0;
            padding-left: 1.5vw;
            font-family: 'Poppins';
            font-style: normal;
            font-size: 16px;
            line-height: 19px;
        }

        .smm-newsletter-signup{
            margin: auto;
            height: 50px;
            background: #EB832E;
            text-align: center;
            margin-right: 0;
            width: 30%;
            border-radius: 4px;
            padding: 0;
            border: 0;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
        }
        .smm-parent{
            position:relative;
            max-width: 100%;
            max-height: 100%;
        }
        .smm-gap{
            height: 4vh;
        }
        
        .smm-black-banner{
            height: 565px; 
            width: 100%;
            justify-content:center;
            text-align:center;
        }
        @media(max-width: 700px){
            .smm-banner-container{
                padding-left: 1vw;
                padding-right: 1vw;
            }
        }
        @media (max-width: 600px){
            .smm-get10off{
            font-size: 84px !important;
        }
        }

        @media (max-width: 500px) {
            .smm-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px
            }
            .smm-banner-text-container{
                max-width: 350px;
            }
            .smm-get10off{
                font-weight: 400 !important;
                font-size: 48px !important;
                line-height: 72px !important;
            }
            .smm-newsletter-box{
                padding-left: 3vw;
                padding-right: 3vw;
            }
            .smm-line{
                display: none;
            }
            .smm-black-banner{
                height: 420px !important;
            }
        }      
</style>
<img src="/content/images/marketing/socialMediaMens/social-media-mens/thumbnail.jpg" alt="thumbnail" style="width:0px;height:0px;opacity:0;"/>

<div class="smm-parent"> 
    <picture>
        <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/banner1.webp" type="image/webp">
        <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/banner1.jpg" type="image/jpeg"> 
        <img class="smm-black-banner"src="/content/images/marketing/socialMediaMens/social-media-mens/banner1.jpg">
    </picture>
    
    <div class="smm-banner-container">
        <div class="smm-banner-text-container">
            <div class="smm-text"style="padding-top: 3vh">Follow Us</div>
            <div class="smm-platforms-container">
                <div>
                    <a href="https://www.youtube.com/c/superhairpieces/" >
                            <img src="/content/images/marketing/socialMediaMens/social-media-mens/m1.png">
                    </a>
                </div>
                
                <div>
                    <a href="https://www.facebook.com/thesuperhairpieces/" >
                        <img src="/content/images/marketing/socialMediaMens/social-media-mens/m2.png">
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/superhairpieces/?hl=en/" >
                        <img src="/content/images/marketing/socialMediaMens/social-media-mens/m3.png">
                    </a>
                </div>
                <div>
                    <a href="https://www.pinterest.ca/superhairpieces/" >
                        <img src="/content/images/marketing/socialMediaMens/social-media-mens/m6.png">
                    </a>
                </div>
                <div>
                    <a href="https://ca.linkedin.com/company/superhairpieces" >
                        <img src="/content/images/marketing/socialMediaMens/social-media-mens/m4.png">
                    </a>
                </div>
                <div>
                    <a href="https://www.tiktok.com/@superhairpieces?lang=en/" >
                        <img src="/content/images/marketing/socialMediaMens/social-media-mens/m5.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="smm-get10off">GET $10 OFF</div>
        <div class="smm-next-purchase-box">ON YOUR NEXT PURCHASE</div>
        <div class="smm-text" style="padding-top: 2vh;padding-bottom: 2vh;">by subscribing to our newsletter to get <br/>our latest news and offers!</div>
        <div class="smm-newsletter-box">
            <form class="content">
                <div id="omnisend-embedded-v2-62b9d431ea25517a05303851"></div>
            </form>
            <div class="smm-gap"></div>
            <div class="smm-gap"></div>
            
        </div>
    </div>
</div>



<style>
    .soundest-form-embedded-v2-submit{
       background-color:#EB832E !important;
       color: #000000 !important;
       outline: none !important;
       border: none !important;
       font-family: 'Poppins' !important;
       font-style: normal !important;
       font-weight: 500 !important;
       font-size: 16px !important;
       line-height: 19px !important;
    }
    .soundest-form-embedded-v2-field{
       border: none !important;
       outline: none !important;
       color: #000000 !important;
    }
    @media(max-width:380px){
      .smm-black-banner{
        height: 450px !important;
      }
    }
</style>


<!----- TRANSFORMATION -->


<style>
.smm-stars-1x2{
    padding-top: 6vh;
    max-width: 850px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .smm-box{
    aspect-ratio: 1;
  }
  @media(max-width: 1010px){
    .smm-stars-1x2{
        padding-left: 6vw !important;
        padding-right: 6vw !important;
    }
}

.smm-line-1{
    padding-top: 10vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
}

.smm-line-2{
    padding-top: 3vh;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    padding-bottom: 5vh;
}

.smm-line-3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background: #0A4EA1;
    color: #ffffff;
    width: 160px;
    height: 40px;
    border-radius: 4px;
    gap: 10px;
}

@media(max-width: 800px){
    .smm-line-1{
        padding-top: 5vh !important;
        font-size: 24px;
        line-height: 36px;
    }

    .smm-line-2{
        padding-top: 3vh;
        font-size: 24px;
        line-height: 24px;
        padding-bottom: 4vh;

    }
}

@media(max-width: 610px){
    .smm-line-1{
        padding-top: 3vh !important;
        font-size: 16px;
        line-height: 24px;
    }

    .smm-line-2{
        padding-top: 2vh;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 2vh;

    }
}
@media(max-width: 410px){
    .smm-line-1{
        padding-top: 2vh !important;
        font-size: 14px;
        line-height: 21px;
    }

    .smm-line-2{
        padding-top: 2vh;
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 2vh;
    }
    .smm-line-3{
        font-size: 14px;
        line-height: 40px;
        width: 120px;
    }
}

</style>
<div class="smm-stars-1x2">
    <div class="smm-box">
        <div class="smm-line-1">Want to start your<br/> hair system journey?</div>
        <div class="smm-line-2">We can help you!</div>
        <a href="https://superhairpieces.ca/starting-a-hair-system-journey/"  style="text-decoration-line: none"><div class="smm-line-3">LEARN MORE</div></a>
    </div>
    <div class="smm-box">
        <style>
            .slides { width: 100%; }
            .slides-hidden { display : none; }
        </style>
        
        <script>
            addEventListener("load",() => {
                var index = 0;
                const slides = document.querySelectorAll(".slides");
                const classHide = "slides-hidden", count = slides.length;
                nextSlide();
                function nextSlide() {
                    slides[(index ++) % count].classList.add(classHide);
                    slides[index % count].classList.remove(classHide);
                    setTimeout(nextSlide, 1500);
                }
            });
        </script>
        
        <section>
            <img class="slides slides-hidden" src="/content/images/marketing/socialMediaMens/social-media-mens/d2.jpg">
            <img class="slides slides-hidden" src="/content/images/marketing/socialMediaMens/social-media-mens/d1.jpg">
        </section>

   


        
    </div>
</div>

<!------Shop by Category----->


<style>
     .smm-title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #000000;
        padding-top: 8vh; 
        padding-bottom: 4vh
    }

    .smm-category-container{
        max-width: 950px;
        margin: auto;
        display: flex; 
        flex-wrap: nowrap;
    }
        .smm-category-container > div{
            width: 245px;
            text-align: center;
            font-size: 30px;
            padding-left:10px;
            padding-right:10px;
            margin: auto;
        }
    .smm-labels{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
    }
    .smm-labels-2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        padding-top: 2vh;
    }
    .smm-shop-now{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        background: #0A4EA1;
        color: #ffffff;
        width: 160px;
        height: 40px;
        margin: auto;
        border-radius: 4px;
        gap: 10px;
    }

    .smm-small-arrow{
        display: none;
    }
    
    @media (max-width: 500px) {
        .smm-title{
            padding-top: 4vh; 
            padding-bottom: 2vh
        }
        .smm-category-container{
            padding-left: 3vw!important;
            padding-right: 3vw!important;
        }

        .smm-category-container > div{
            padding-left:3vw;
            padding-right:3vw;
        }
        .smm-labels{
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        .smm-labels-2{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #000000;
        }
        .smm-big-arrow{
            display: none !important;
        }
        .smm-small-arrow{
            display: unset !important;
        }
    }
</style>

<div class="smm-title">Shop by Category</div>
<div class="smm-category-container">
    <div>  
        <div class = "smm-labels"><a href="https://superhairpieces.ca/men/in-stock/search-by-base/poly-skin-mens-toupee/"  style="text-decoration-line: none">Skin</a></div>  
        <picture class="smm-big-arrow">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow.jpg" type="image/png"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/arrow.png">
        </picture>  
        <picture class="smm-small-arrow">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow2.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow2.jpg" type="image/png"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/arrow2.png">
        </picture>  
        <a href="https://superhairpieces.ca/toupee-m101-thin-skin-hair-piece-for-men/" >     
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/p1.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/p1.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/p1.jpg">
            </picture>
        </a>
    </div>
    <div>
        <div class = "smm-labels"><a href="https://superhairpieces.ca/men/in-stock/search-by-base/full-lace-base-mens-toupee/"  style="text-decoration-line: none">Lace</a></div>
        <picture class="smm-big-arrow">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow.jpg" type="image/png"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/arrow.png">
        </picture>  
        <picture class="smm-small-arrow">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow2.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow2.jpg" type="image/png"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/arrow2.png">
        </picture>  
        <a href="https://superhairpieces.ca/mens-toupee-m104-7x9-mono-top-with-lace-front-in-stock/" >     
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/p2.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/p2.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/p2.jpg">
            </picture>
        </a>
    </div>
    <div>
        <div class = "smm-labels"><a href="https://superhairpieces.ca/men/in-stock/search-by-base/silk-top-mens-toupee/"  style="text-decoration-line: none">Mono</a></div>
        <picture class="smm-big-arrow">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow.jpg" type="image/png"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/arrow.png">
        </picture>  
        <picture class="smm-small-arrow">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow2.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/arrow2.jpg" type="image/png"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/arrow2.png">
        </picture>  
        <a href="https://superhairpieces.ca/mens-toupee-m100-6-5x-8-5-mono-top-in-stock/" >     
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/p3.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/p3.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/p3.jpg">
            </picture>
        </a>
    </div>
</div>
<a href="https://superhairpieces.ca/men/in-stock/"style="text-decoration: none">
    <div class="smm-shop-now">SHOP NOW</div>
</a>

<!------Shop our Haircare Products----->

<style>
    .smm-description{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        padding-bottom: 2vh;
    }
</style>
<div class="smm-title" style="padding-bottom: 0vh !important;">Hair System Products </div>
<div class="smm-description">Attachment, Maintenance & Removal</div>
<div class="smm-category-container">
    <div>
        <a href="https://superhairpieces.ca/supplies/attachment-removal/liquid-adhesive/" >     
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/c1.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/c1.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/c1.jpg">
            </picture>
        </a>
        <div class = "smm-labels-2"><a href="https://superhairpieces.ca/supplies/attachment-removal/liquid-adhesive/"  style="text-decoration-line: none">Liquid<br/>Adhesives</a></div>
    </div>
    <div>
        <a href="https://superhairpieces.ca/supplies/attachment-removal/cleaner-solvent/" >     
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/c2.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/c2.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/c2.jpg">
            </picture>
        </a>
        <div class = "smm-labels-2"><a href="https://superhairpieces.ca/supplies/attachment-removal/cleaner-solvent/"  style="text-decoration-line: none">Solvents</a><br/><br/></div>
    </div>
    <div>
        <a href="https://superhairpieces.ca/supplies/attachment-removal/scalp-preparation-and-protection/" >     
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/c3.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/c3.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/c3.jpg">
            </picture>
        </a>
        <div class = "smm-labels-2"><a href="https://superhairpieces.ca/supplies/attachment-removal/scalp-preparation-and-protection/"  style="text-decoration-line: none">Scalp<br/>Protection</a></div>
    </div>
</div>
<a href="https://superhairpieces.ca/brands/"style="text-decoration: none">
    <div class="smm-shop-now">SHOP NOW</div>
</a>


<!-----Monthly Discount Codes----->


<style>
    .smm-blue-box{
        width: 100%;
        height: 500px;
        background: #0A4EA1; 
        
    }
    .smm-blue-box-content{
        padding-top: 50px;
        max-width: 900px;

        padding-left: 1vw;
        padding-right: 1vw;
        margin: auto;
    }
    .smm-blue-box-content-line-1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 72px;
        color: #FFFFFF;
        text-align: left;        
    }
    .smm-blue-box-content-line-2{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 1vh;
    }
    .smm-blue-box-content-line-3{
        background: #EB832E;
        border-radius: 4px;
        width: 248px;
        height: 64px;
        margin-left: auto; 
        margin-right: 0;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 64px;
        text-align: center;
        color: #FFFFFF;
    }

    @media(max-width: 600px){
        .smm-blue-box{
            height: 350px !important;
        }
        .smm-blue-box-content{
            padding-top: 55px !important;
        }
        .smm-blue-box-content-line-1{
            font-size: 48px !important;
            line-height: 64px !important;
            text-align: center !important;
        }
        .smm-blue-box-content-line-2{
            font-size: 36px !important;
            line-height: 48px !important;
            padding-bottom: 1vh !important;
        }
        .smm-blue-box-content-line-3{
            text-align: center !important;
            margin: auto !important;
            width: 160px !important;
            height: 48px !important;
            line-height: 48px !important;
            font-size: 18px !important;
        }
    }

    @media(max-width: 450px){
        .smm-blue-box{
            height: 200px !important;
        }
        .smm-blue-box-content{
            padding-top: 4vh !important;
            padding-left: 6vw !important;
            padding-right: 6vw !important;
        }
        .smm-blue-box-content-line-1{
            font-weight: 800 !important;
            font-size: 32px !important;
            line-height: 30px !important;
            text-align: left !important;

        }
        .smm-blue-box-content-line-2{
            padding-top: 1.5vh !important;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 20px !important;
            text-align: left !important;
            padding-bottom: 0vh !important;
        }
        .smm-blue-box-content-line-3{
            text-align: center !important;
            margin-left: auto !important; 
            margin-right: 0 !important;            
            width: 160px !important;
            height: 40px !important;
            font-weight: 500 !important;
            font-size: 16px !important;
            line-height: 40px !important;
        }
    }

    .smm-blue-box-dots-right{
        text-align: right;
        max-height: 50px;
    }
    .smm-blue-box-dots-left{
        text-align: left;
        max-height: 0px;
    }
    @media(max-width: 1200px){
        .smm-blue-box-dots-left{
            display: none !important;
        }
        .smm-blue-box-dots-right{
            display: none !important;
        }
        .smm-blue-box-content{
            padding-top: 100px;
            padding-left:2vw ;
            padding-right: 2vw ;
        }
    }
</style>
<div class="smm-gap"></div>
<div class="smm-gap"></div>

<div class="smm-blue-box">
    <div class="smm-blue-box-dots-right">
        <img src="/content/images/marketing/socialMediaMens/social-media-mens/fb1.jpg">
    </div>
        <div class="smm-blue-box-content">
            <div class="smm-blue-box-content-line-1">GET MONTHLY<br/>DISCOUNT CODES</div>
            <div class="smm-blue-box-content-line-2">on our FB Group</div>
            <a href="https://www.facebook.com/groups/485645423078158/?ref=pages_group_cta"  style="text-decoration-line: none"><div class="smm-blue-box-content-line-3">JOIN NOW!</div></a>
        </div>
    <div class="smm-blue-box-dots-left">
        <img src="/content/images/marketing/socialMediaMens/social-media-mens/fb2.jpg">
    </div>
</div>


<!-----Client Transformations----->

<div class="smm-title">Our Real-life Transformations</div>
<style>
.smm-stars-2x2{
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    padding-left: 1vw;
    padding-right: 1vw;
  }

.smm-stars-4x1{
    display: none;
    max-width: 450px;
    margin: auto;
    grid-template-columns: 1fr;
    padding-left: 6vw !important;
    padding-right: 6vw !important;
    grid-gap: 20px !important;
    }

@media(max-width: 1010px){
    .smm-stars-2x2{
        padding-left: 6vw !important;
        padding-right: 6vw !important;
    }
}

@media (max-width: 500px){
    .smm-stars-2x2{
        display: none;
    }
    .smm-stars-4x1{
        display: grid !important;
    }

}
</style>

  <div class="smm-stars-2x2">
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d3.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d3.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/d3.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d4.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d4.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/d4.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d5.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d5.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/d5.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d6.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d6.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/d6.jpg">
        </picture>
    </div>
   

  </div>
<div class="smm-stars-4x1">
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d3.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d3.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/d3.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d4.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d4.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/d4.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d5.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d5.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/d5.jpg">
        </picture>
    </div>
    <div>
        <picture>
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d6.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/d6.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/d6.jpg">
        </picture>
    </div>
</div>
<!-----Special Promos----->


<style>
.smm-promo-box{
    max-width: 1050px;
    margin: auto;
    position: relative;
    padding-bottom: 6vh;
}
.smm-promo-left{
    max-width: 50%;
    width: 50%;
    padding-left: 1vw;
    text-align: center;
    padding-right: 1vw;
}
.smm-promo-right{
    max-width: 50%;
    width: 50%;
    padding-left: 1vw;
    padding-right: 1vw;

    text-align: center;
}
.smm-row{
    display: flex;
    margin: auto;
    max-height: 200%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 1050px) { 
    .smm-row{
        flex-direction: column;
        padding-bottom: 5vh;
    }
    .smm-promo-left{
        padding-left: 0vw !important;
        padding-right: 0vw !important;
        text-align: center !important;
        max-width: 100% !important;
        width: 100% !important;
        padding-bottom: 8vh !important;
    }
    .smm-promo-right{ 
        padding-left: 0vw !important;
        padding-right: 0vw !important;
        text-align: center !important;
        max-width: 100% !important;
        width: 100% !important;
    }       
}
    .smm-promo-text-1{
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        margin: auto;
        color: #ffffff;
    }
    .smm-promo-text-2{
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 24px;
        margin: auto;
        color: #ffffff;
    }
    .smm-promo-text-3{
        position: relative;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        margin: auto;
        color: #ffffff;
    }

    .smm-promo-text-4{
        position: relative;
        height: 40px;
        width: 160px;
        background: #EB832E;
        margin: auto;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
        border-radius: 4px;
    }
    .smm-promo-text-group{
       margin-top: -175px;

    }
    @media (max-width: 500px){
        .smm-promo-text-group{
            margin-top: -170px;
        }
        .smm-promo-box{
            padding-bottom: 2vh !important;
        }
    }
    @media (max-width: 450px){
        .smm-promo-text-group{
            margin-top: -165px;
        }
    }
    @media (max-width: 400px){
        .smm-promo-text-group{
            margin-top: -150px;
        }
    }
    @media (max-width: 350px){
        .smm-promo-text-group{
            margin-top: -145px;
        }
    }

</style>


<div class="smm-title">Special Promos</div>
<div class = "smm-promo-box">
    <div class = "smm-row">
        <!----- PUT BACK AFTER SUMMER SALE
        <div class = "smm-promo-left">
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/sp1.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/sp1.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/sp1.jpg">
            </picture>
            <div class="smm-promo-text-group">
                <div class="smm-promo-text-1">Become a</div>
                <div class="smm-promo-text-2">Hair System Specialist</div>
                <div class="smm-promo-text-3">With our Academy!</div>
                <a href="https://superhairpieces.ca/evolve-global-academy/"  style="text-decoration: none">
                    <div class="smm-promo-text-4">LEARN MORE</div>               
                </a>
            </div>
        </div>
        ----->
        <div class = "smm-promo-left">
            <div style="position: relative">
             <a href="https://www.superhairpieces.ca/fall-sale-2022/">
             <picture>
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/fall-sale.jpg">
             </picture>
             </a>
 
             </div>
             
         </div>
         <style>
             .smm-sp-shop-now{
                 position: absolute;
                 top: 80%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 width: 160px;
                 height: 40px;
                 background: #EB832E;
                 border-radius: 4px;
                 font-family: 'Poppins';
                 font-style: normal;
                 font-weight: 800;
                 font-size: 16px;
                 line-height: 40px;
                 color: #FFFFFF;
                 text-decoration-line: none;
             }
         </style>


<div class = "smm-promo-right">
    <a href="https://www.superhairpieces.ca/superhair-creator">
        <picture>
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/men-creator.webp" type="image/webp">
            <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/men-creator.jpg" type="image/jpeg"> 
            <img src="/content/images/marketing/socialMediaMens/social-media-mens/men-creator.jpg">
        </picture>
    </a>
    


</div>
    </div>
</div>


<!------#SHP Tutorials-->


<style>
    .smm-videos {
        display: flex;
        margin: auto;
        max-height: 300%;
        max-width: 1050px;
        margin-bottom: 50px;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .smm-videos-column1 {
        flex: 1;
        max-width: 350px;
        max-height: 100%;
        text-align: left;
    }
    .smm-videos-column2 {
        flex: 1;
        max-width: 350px;
        max-height: 100%;
        text-align: center;
    }
    .smm-videos-column3 {
        flex: 1;
        max-width: 350px;
        max-height: 100%;
        text-align: right;
    }
    .smm-link{ 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
        padding-bottom: 4vh;
    }

    @media (max-width: 1050px) {
        .smm-videos {
            flex-direction: column;
        }
        .smm-videos-column1 {
            text-align: center;
            margin: auto;
            padding-bottom: 2vh;
        }
        .smm-videos-column2 {
            text-align: center;
            margin: auto;
            padding-bottom: 2vh;
        }
        .smm-videos-column3 {
            text-align: center;
            margin: auto;
        }
    }
    
</style>

<div class="smm-title" style="padding-bottom: 0vh !important;">#SHPtutorials</div>
<div class="smm-link"><a href="https://www.youtube.com/Superhairpieces" >More Tutorials on Youtube!</a></div>
<div class="smm-videos">
    <div class="smm-videos-column1">
        <iframe
            width="330"
            height="185.625"
            src="https://www.youtube.com/embed/1uIWhc57MGA?rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="smm-videos-column2">
        <iframe
            width="330"
            height="185.625"
            src="https://www.youtube.com/embed/xCeonh8oXEw?rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="smm-videos-column3">
        <iframe
            width="330"
            height="185.625"
            src="https://www.youtube.com/embed/oEXi-oZ3ZHk?rel=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>


<!-----Trending Blogs----->


<div class="smm-title"style="padding-top: 2vh!important; padding-bottom: 0vh !important;">Trending Blogs</div>
<div class="smm-link"><a href="https://superhairpieces.ca/blog/" >More Blogs on our Website!</a></div>
<div class="smm-videos">
    <div class="smm-videos-column1">
        <a href="https://www.superhairpieces.com/toupee-wig-hair-system-blog/how-long-does-a-superhairpieces-hair-system-last/" >        
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/b1.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/b1.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/b1.jpg">
            </picture>
        </a>
    </div>
    <div class="smm-videos-column2">
        <a href="https://superhairpieces.com/toupee-wig-hair-system-blog/what-are-the-different-types-of-hair-used-in-hair-systems-hairpieces/" >        
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/b2.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/b2.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/b2.jpg">
            </picture>
        </a>
    </div>
    <div class="smm-videos-column3">
        <a href="https://superhairpieces.com/toupee-wig-hair-system-blog/why-working-from-home-is-the-perfect-time-to-try-a-hair-system/" >        
            <picture>
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/b3.webp" type="image/webp">
                <source srcset="/content/images/marketing/socialMediaMens/social-media-mens/b3.jpg" type="image/jpeg"> 
                <img src="/content/images/marketing/socialMediaMens/social-media-mens/b3.jpg">
            </picture>
        </a>
    </div>
</div>

