<!-- title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications."-->
<!-- <table width="100%" border="0" cellpadding="2" cellspacing="0">
    <tr>
        <td align="center" valign="top">
            <script type="text/javascript" language="javascript">var ANS_customer_id="641154fc-f227-4e1b-bbeb-2511291f7374";</script><script type="text/javascript" language="javascript" src="//verify.authorize.net:443/anetseal/seal.js"></script>&nbsp;&nbsp;&nbsp;<script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name={{theme_settings.geotrust_ssl_common_name}}&amp;size={{theme_settings.geotrust_ssl_seal_size}}&amp;lang={{locale_name}}"></script>
            <a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a>&nbsp;&nbsp;&nbsp;<a href="/reviews-and-testimonials/" target="_blank"><img width="100" src="https://stamped.io/inc/image/badges.png?apikey=pubkey-SN1K0D3brD78Uc18aQ7o120wS2qxk1&sId=91914&type=badge3&label1=Based on&label2=customer reviews" alt="Verified Customer Reviews" /></a>
        </td>
    </tr>
</table> -->
<table width="100%" border="0" cellpadding="2" cellspacing="0">
    <tr>
        <td align="center" valign="top">
            <div id="DigiCertClickID_lAoWbXUH" style="display: flex;"><script type="text/javascript" language="javascript">var ANS_customer_id="641154fc-f227-4e1b-bbeb-2511291f7374";</script><script type="text/javascript" language="javascript" src="//verify.authorize.net:443/anetseal/seal.js"></script>&nbsp;<a href="/reviews-and-testimonials/" target="_blank"><img width="100" src="https://stamped.io/inc/image/badges.png?apikey=pubkey-SN1K0D3brD78Uc18aQ7o120wS2qxk1&sId=91914&type=badge3&label1=Based on&label2=customer reviews" alt="Verified Customer Reviews" /></a></div><!-- DigiCert Seal Code --><!-- Place with DigiCert Seal HTML or with other scripts --><script type="text/javascript">
    var __dcid = __dcid || [];
    __dcid.push({"cid":"DigiCertClickID_lAoWbXUH","tag":"lAoWbXUH"});
    (function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
</script>
        </td>
    </tr>
</table>

