<style>
    .navPage-megaPic {
        margin-top: 18px !important;
    }
    @media (max-width: 1149px) {
        .navPage-megaPic {
            display: none;
        }
    }
</style>
<nav class="navPages">
    <div class="navPages-quickSearch">
        {{> components/common/quick-search}}
    </div>
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        {{#each categories}}
            <li class="navPages-item">
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
                {{> components/common/navigation-list}}
            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                {{> components/common/navigation-list-alternate}}
            {{/if}}
            </li>
        {{/each}}
        <li class="navPages-item">            
        {{#if theme_settings.navigation_design '===' 'simple'}}                
            <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-custom-resource">
                Resources <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
            </a>
            <div class="navPage-subMenu" id="navPages-custom-resource" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href="#"
                            data-collapsible="navPages-custom-resource-item1"
                            data-collapsible-disabled-breakpoint="medium"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed">
                            Beginners<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                        </a>
                        <ul class="navPage-childList" id="navPages-custom-resource-item1">
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/superhair-knowledge">Knowledge Base</a>
                                <a class="navPage-childList-action navPages-action" href="/starting-a-hair-system-journey">Get Started Today</a>
                                <a class="navPage-childList-action navPages-action" href="/hair-system-selector/">Hair System Selector</a>
                                <a class="navPage-childList-action navPages-action" href="/wig-insurance">Wig Insurance</a>
                                <a class="navPage-childList-action navPages-action" href="/faq/">FAQ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href="#"
                            data-collapsible="navPages-custom-resource-item2"
                            data-collapsible-disabled-breakpoint="medium"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed">
                            Professionals<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                        </a>
                        <ul class="navPage-childList" id="navPages-custom-resource-item2">
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="/inventory">Inventory Search</a>
                                <a class="navPage-childList-action navPages-action" href="/featured-salons">Salon Media Partners</a>
                                <a class="navPage-childList-action navPages-action" href="/hair-systems-for-your-hair-business">For Your Business</a>
                                <a class="navPage-childList-action navPages-action" href="/superhairbabes">Superhairbabes Extensions</a>
                                <a class="navPage-childList-action navPages-action" href="https://www.flipsnack.com/678D7566AED/men-catalog-2022-e/full-view.html" target="_blank">E-Catalog</a>
                                <a class="navPage-childList-action navPages-action" href="/evolve-global-academy">Evolve Global Academy</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href="#"
                            data-collapsible="navPages-custom-resource-item3"
                            data-collapsible-disabled-breakpoint="medium"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed">
                            Promotions<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                        </a>
                       <ul class="navPage-childList" id="navPages-custom-resource-item3">
                            <li class="navPage-childList-item">
                               <a class="navPage-childList-action navPages-action" href="/superhair-creator">#Superhaircreators</a>
                               <a class="navPage-childList-action navPages-action" href="/contests/">Video Contest</a>
                                <a class="navPage-childList-action navPages-action" href="/hair-system-subscription-program/">Hairpieces Subscription</a>
                            </li>
                        </ul>
                    </li>
                     <!-- <li class="navPage-subMenu-item">
                        <a
                            class="navPage-subMenu-action navPages-action has-subMenu"
                            href="#"
                            data-collapsible="navPages-custom-resource-item4"
                            data-collapsible-disabled-breakpoint="medium"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed">
                            Our Channels<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                        </a>
                         <ul class="navPage-childList" id="navPages-custom-resource-item4">
                            <li class="navPage-childList-item">
                                 <a class="navPage-childList-action navPages-action" href="https://www.youtube.com/c/Superhairpieces" target="_blank">Youtube</a>
                                <a class="navPage-childList-action navPages-action" href="https://www.instagram.com/superhairpieces/" target="_blank">Instagram</a>
                                <a class="navPage-childList-action navPages-action" href="https://www.facebook.com/thesuperhairpieces" target="_blank">Facebook</a>
                                <a class="navPage-childList-action navPages-action" href="https://www.tiktok.com/@superhairpieces" target="_blank">TikTok</a>
                                <a class="navPage-childList-action navPages-action" href="https://www.facebook.com/groups/superhairpieces" target="_blank">Join Our Community</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="navPage-subMenu-item navPage-megaPic">
                        <a href="/brands" class="navPage-subMenu-action navpages-action">
                            <picture>
                                <source srcset="/content/images/menu/menu-pic1.webp" type="image/webp">
                                <source srcset="/content/images/menu/menu-pic1.jpg" type="image/jpeg">
                                <img src="/content/images/menu/menu-pic1.jpg">
                            </picture>
                        </a>
                    </li>
                </ul>
            </div>
        {{/if}}
        {{#if theme_settings.navigation_design '===' 'alternate'}}                
            <a class="navPages-action navPages-action-depth-max has-subMenu is-root" href="#" data-collapsible="navPages-custom-resource">
                Resources <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
            </a>
            <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-custom-resource" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item-child">
                        <a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu" href="/superhair-knowledge" data-collapsible="navPages-custom-resource-item1">
                           knowledge page<i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                        </a>
                        <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-custom-resource-item1" aria-hidden="true" tabindex="-1">
                            <ul class="navPage-subMenu-list">
                                <li class="navPage-subMenu-item-child">                                    
                                    <a class="navPage-subMenu-action navPages-action" href="/starting-a-hair-system-journey">Hair System Journey</a>
                                    <a class="navPage-subMenu-action navPages-action" href="/superhair-creator">superhair Creator</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navPage-subMenu-item-child">
                        <a class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu" href="#" data-collapsible="navPages-custom-resource-item2">
                            salons & pro <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                        </a>
                        <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-custom-resource-item2" aria-hidden="true" tabindex="-1">
                            <ul class="navPage-subMenu-list">
                                <li class="navPage-subMenu-item-child">                                    
                                    <a class="navPage-subMenu-action navPages-action" href="/superhairbabes">SuperhairBabes</a>
                                    <a class="navPage-subMenu-action navPages-action" href="/inventory">Inventory Search</a>
                                    <a class="navPage-subMenu-action navPages-action" href="/hair-systems-for-your-hair-business">Hair Business</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        {{/if}}
        </li>

        
{{!--
        
        {{#unless theme_settings.hide_content_navigation}}
            {{#each pages}}
                 <li class="navPages-item navPages-item-page">
                     <a class="navPages-action" href="{{url}}">{{name}}</a>
                 </li>
             {{/each}}
        {{/unless}}
        
--}}
        
    </ul>
    <ul class="navPages-list navPages-list--user">
        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                    {{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        {{#each currency_selector.currencies}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                                {{#if is_active}}
                                    <strong>{{name}}</strong>
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/if}}
        {{#if settings.gift_certificates_enabled}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}
        {{#if customer.store_credit.value '>' 0}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--storeCredit">
                    {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                </a>
            </li>
        {{/if}}
        {{#if theme_settings.product_list_display_mode '==' 'list'}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
            </li>
        {{/if}}
        {{#if customer}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account">
                    {{lang 'common.account'}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                        </li>
                        {{#if settings.returns_enabled}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</span></a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            </li>
        {{else}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                {{#if settings.account_creation_enabled}}
                    {{lang 'common.or'}} <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
            </li>
        {{/if}}
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
        {{/if}}
    </ul>
</nav>
