{{#if breadcrumbs.[1].name '===' 'Men'}}
<div class="pl-filter-wrap">
    <label for="sort"><img src="/content/images/common/filter.svg"></label>
    <select name="filter" id="pl-filter">
        <option value="" selected disabled>Filter By</option>
        <option value="/men-hair-pieces-toupees-in-stock/" {{#contains category.url '/men-hair-pieces-toupees-in-stock/'}}selected{{/contains}}>All Items</option>
        <option value="/silk-top-mens-toupee-1/" {{#contains category.url '/silk-top-mens-toupee-1/'}}selected{{/contains}}>Base | Mono</option>
        <option value="/full-lace-base-mens-toupee-1/" {{#contains category.url '/full-lace-base-mens-toupee-1/'}}selected{{/contains}}>Base | Lace</option>
        <option value="/poly-skin-mens-toupee-2/" {{#contains category.url '/poly-skin-mens-toupee-2/'}}selected{{/contains}}>Base | Skin</option>
        <option value="/lace-front-mens-toupee-1/" {{#contains category.url '/lace-front-mens-toupee-1/'}}selected{{/contains}}>Base | Lace Front</option>
        <option value="/small-size-6x-8-or-6-5x-8-5-1/" {{#contains category.url '/small-size-6x-8-or-6-5x-8-5-1/'}}selected{{/contains}}>Size | Small</option>
        <option value="/medium-size-7x-9-1/" {{#contains category.url '/medium-size-7x-9-1/'}}selected{{/contains}}>Size | Medium</option>
        <option value="/large-size-about-8-x-10-2/" {{#contains category.url '/large-size-about-8-x-10-2/'}}selected{{/contains}}>Size | Large</option>
        <option value="/light-density-90-1/" {{#contains category.url '/light-density-90-1/'}}selected{{/contains}}>Density | Light</option>
        <option value="/light-to-medium-110-2/" {{#contains category.url '/light-to-medium-110-2/'}}selected{{/contains}}>Density | Light to Medium</option>
        <option value="/medium-120-1/" {{#contains category.url '/medium-120-1/'}}selected{{/contains}}>Density | Medium</option>
        <option value="/medium-to-medium-heavy-130-1/" {{#contains category.url '/medium-to-medium-heavy-130-1/'}}selected{{/contains}}>Density | Medium to Medium Heavy</option>
        <option value="/real-human-hair/" {{#contains category.url '/real-human-hair/'}}selected{{/contains}}>Hair | Human Hair</option>
        <option value="/european-human-hair/" {{#contains category.url '/european-human-hair/'}}selected{{/contains}}>Hair | European Human Hair</option>            
    </select>
</div>
{{else if breadcrumbs.[1].name '===' 'Women'}}
<div class="pl-filter-wrap">
    <label for="sort"><img src="/content/images/common/filter.svg"></label>
    <select name="filter" id="pl-filter">
        <option value="" selected disabled>Filter By</option>
        <option value="/women-hair-pieces-toppers-wigs-all-in-stock/" {{#contains category.url '/women-hair-pieces-toppers-wigs-all-in-stock/'}}selected{{/contains}}>All Items</option>
        <optgroup label="Toppers">
            <option value="/6-to-8/" {{#contains category.url '/6-to-8/'}}selected{{/contains}}>Hair Length | 6" to 8"</option>
            <option value="/10-to-14/" {{#contains category.url '/10-to-14/'}}selected{{/contains}}>Hair Length | 10" to 14"</option>
            <option value="/16-to-20/" {{#contains category.url '/16-to-20/'}}selected{{/contains}}>Hair Length | 16" to 20"</option>
            <option value="/small-5-to-7/" {{#contains category.url '/small-5-to-7/'}}selected{{/contains}}>Size | Small</option>
            <option value="/medium-6-to-8/" {{#contains category.url '/medium-6-to-8/'}}selected{{/contains}}>Size | Medium</option>
            <option value="/large-7-to-9/" {{#contains category.url '/large-7-to-9/'}}selected{{/contains}}>Size | Large</option>
            <option value="/mono-silk-tops/" {{#contains category.url '/mono-silk-tops/'}}selected{{/contains}}>Base | Mono</option>
            <option value="/french-swiss-lace-tops/" {{#contains category.url '/french-swiss-lace-tops/'}}selected{{/contains}}>Base | Lace</option>
            <option value="/skin-base/" {{#contains category.url '/skin-base/'}}selected{{/contains}}>Base | Skin</option>
        </optgroup>
        <optgroup label="Wigs">
            <option value="/finished-length-9-11/" {{#contains category.url '/finished-length-9-11/'}}selected{{/contains}}>Hair Length | 9" to 11"</option>
            <option value="/finished-length-12-16/" {{#contains category.url '/finished-length-12-16/'}}selected{{/contains}}>Hair Length | 12" to 16"</option>
            <option value="/finished-length-18-24/" {{#contains category.url '/finished-length-18-24/'}}selected{{/contains}}>Hair Length | 18" to 24"</option>
            <option value="/mono-top-wigs/" {{#contains category.url '/mono-top-wigs/'}}selected{{/contains}}>Base | Mono</option>
            <option value="/full-lace-wig/" {{#contains category.url '/full-lace-wig/'}}selected{{/contains}}>Base | Lace</option>
            <option value="/silicone-medical-wig/" {{#contains category.url '/silicone-medical-wig/'}}selected{{/contains}}>Base | Silicone</option>
            <option value="/light-color-wigs/" {{#contains category.url '/light-color-wigs/'}}selected{{/contains}}>Color | Light</option>
            <option value="/dark-color-wigs/" {{#contains category.url '/dark-color-wigs/'}}selected{{/contains}}>Color | Dark</option>
        </optgroup>
    </select>
</div>
{{else if breadcrumbs.[1].name '===' 'Extensions'}}
<div class="pl-filter-wrap">
    <label for="sort"><img src="/content/images/common/filter.svg"></label>
    <select name="filter" id="pl-filter">         
        <option value="" selected disabled>Filter By</option>
        <option value="/clip-in-hair-extensions/" {{#contains category.url '/clip-in-hair-extensions/'}}selected{{/contains}}>Attachment | Clip In</option>
        <option value="/hand-tied-weft-hair-extensions/" {{#contains category.url '/hand-tied-weft-hair-extensions/'}}selected{{/contains}}>Attachment | Hand Tied Weft</option>
        <option value="/machine-weft-hair-extensions/" {{#contains category.url '/machine-weft-hair-extensions/'}}selected{{/contains}}>Attachment | Machine Weft</option>
        <option value="/nail-tip-hair-extensions/" {{#contains category.url '/nail-tip-hair-extensions/'}}selected{{/contains}}>Attachment | Nail Tip</option>
        <option value="/stick-tip-hair-extensions/" {{#contains category.url '/stick-tip-hair-extensions/'}}selected{{/contains}}>Attachment | Stick Tip</option>
        <option value="/tape-in-hair-extensions/" {{#contains category.url '/tape-in-hair-extensions/'}}selected{{/contains}}>Attachment | Tape In</option>
    </select>
</div>
{{else if breadcrumbs.[1].name '===' 'Supplies'}}
<div class="pl-filter-wrap">
    <label for="sort"><img src="/content/images/common/filter.svg"></label>
    <select name="filter" id="pl-filter">        
        <option value="" selected disabled>Filter By</option>
        <option value="/brands">Supplies by Brand</option>
        <optgroup label="Tape">
            <option value="/daily/" {{#contains category.url '/daily/'}}selected{{/contains}}>Daily</option>
            <option value="/weekly/" {{#contains category.url '/weekly/'}}selected{{/contains}}>Weekly</option>
            <option value="/monthly/" {{#contains category.url '/monthly/'}}selected{{/contains}}>Monthly</option>            
        </optgroup>
        <optgroup label="Glue">
            <option value="/acrylic-based/" {{#contains category.url '/acrylic-based/'}}selected{{/contains}}>Acrylic Based</option>
            <option value="/silicone-based/" {{#contains category.url '/silicone-based/'}}selected{{/contains}}>Silicone Based</option>
            <option value="/solvent-based/" {{#contains category.url '/solvent-based/'}}selected{{/contains}}>Solvent Based</option>
            <option value="/water-based/" {{#contains category.url '/water-based/'}}selected{{/contains}}>Water Based</option>
        </optgroup>
        <option value="/hair-care/" {{#contains category.url '/hair-care/'}}selected{{/contains}}>Hair Care</option>
        <option value="/scalp-and-hair-protection/" {{#contains category.url '/scalp-and-hair-protection/'}}selected{{/contains}}>Scalp Preparation</option>
        <option value="/hair-extension-accessories/" {{#contains category.url '/hair-extension-accessories/'}}selected{{/contains}}>Extension Accessories</option>
        <option value="/wig-clips/" {{#contains category.url '/wig-clips/'}}selected{{/contains}}>Wig Clips</option>
    </select>
</div>
{{/if}}
<script>
    window.addEventListener("DOMContentLoaded", function() {
        $("#pl-filter").on("change", function() {
            location.href = $(this).val();
        });
    });
</script>
