<link rel="stylesheet" href="/content/css/product-view.min.css">
<div class="productView">
    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="productView-details">
        <div class="productView-product">
            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>

            <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
            </h2>
            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}
            <div class="productView-price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{> components/products/price price=product.price schema_org=schema}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            {{{region name="product_below_price"}}}
            <span class="stamped-product-reviews-badge stamped-main-badge"  data-id="{{product.id}}" data-product-sku="{{product.sku}}" style="display: inline-block;"></span> 
        &nbsp; <span style="color:#ccc;">|</span> &nbsp;
        <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{product.id}}" data-product-sku="{{product.sku}}" style="display: inline-block;" data-type="qna"></span>
               
            <div class="productView-rating"{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}>
                {{#if settings.show_product_rating}}
                    {{#if product.num_reviews '>' 0}}
                        {{#if schema}}
                            <meta itemprop="ratingValue" content="{{product.rating}}">
                            <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                            <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                        {{/if}}
                    {{/if}}
                    {{> components/products/ratings rating=product.rating}}
                    <span class="productView-reviewLink">
                        {{#if product.num_reviews '>' 0}}
                            <a href="{{product.url}}#product-reviews">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        {{/if}}
                    </span>
                {{/if}}
                {{#if settings.show_product_reviews}}
                    <span class="productView-reviewLink">
                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                           {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                           {{lang 'products.reviews.new'}}
                        </a>
                    </span>
                    {{> components/products/modals/writeReview}}
                {{/if}}
            </div>
            {{product.detail_messages}}
            <dl class="productView-info">
                
                {{#if product.sku}}
                    <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
                    <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                {{/if}}
                
{{!--
                
                {{#if product.upc}}
                    <dt class="productView-info-name">{{lang 'products.upc'}}</dt>
                    <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                {{/if}}
                
--}}
                
                {{#if product.condition}}
                    <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                    <dd class="productView-info-value">{{product.condition}}</dd>
                {{/if}}
                {{#if product.availability}}
                    <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                    <dd class="productView-info-value">{{product.availability}}</dd>
                {{/if}}
                {{#all product.weight theme_settings.show_product_weight}}
                    <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                {{/all}}
                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                    <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                    <dd class="productView-info-value" data-product-width>
                        {{product.width}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                    <dd class="productView-info-value" data-product-height>
                        {{product.height}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                    <dd class="productView-info-value" data-product-depth>
                        {{product.depth}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                {{/all}}
                {{#if product.min_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.max_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.gift_wrapping_available}}
                    <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                {{/if}}
                {{#if product.shipping}}
                    {{#if product.shipping.calculated}}
                        <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                    {{else}}
                        {{#if product.shipping.price.value '===' 0}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                        {{else}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                        {{/if}}
                    {{/if}}
                {{/if}}
                {{#if product.bulk_discount_rates.length}}
                    <dt class="productView-info-name">{{lang 'products.bulk_pricing.title'}}</dt>
                    <dd class="productView-info-value">
                        <a href="{{product.url}}"
                            {{#unless is_ajax }}data-reveal-id="bulkPricingModal" {{/unless}}>
                            {{lang 'products.bulk_pricing.view'}}
                        </a>
                    </dd>

                    <div id="bulkPricingModal" class="modal modal--small" data-reveal>
                        <div class="modal-header">
                            <h2 class="modal-header-title">{{lang 'products.bulk_pricing.modal_title'}}</h2>
                            <a href="#" class="modal-close" aria-label="Close"><span aria-hidden="true">&#215;</span></a>
                        </div>
                        <div class="modal-body">
                            <p>{{lang 'products.bulk_pricing.instructions'}}</p>
                            <ul>
                            {{#each product.bulk_discount_rates}}
                                <li>
                                    {{lang 'products.bulk_pricing.range' min=min max=max}}
                                    {{#if type '===' 'percent'}}
                                        {{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
                                    {{/if}}
                                    {{#if type '===' 'fixed'}}
                                        {{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
                                    {{/if}}
                                    {{#if type '===' 'price'}}
                                        {{lang 'products.bulk_pricing.price' discount=discount.formatted}}
                                    {{/if}}
                                </li>
                            {{/each}}
                            </ul>
                        </div>
                    </div>
                {{/if}}
                {{!--  
                
                    {{#each product.custom_fields}}
                        <dt class="productView-info-name">{{name}}:</dt>
                        <dd class="productView-info-value">{{{value}}}</dd>
                    {{/each}}
                
                --}}
            </dl>
        </div>
    </section>

    <section class="productView-images" data-image-gallery>
        <figure class="productView-image"
                data-image-gallery-main
                data-zoom-image="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}"
                >
            <a href="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}" class="icon-wrap">
                <img class="productView-image--default"
                     src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}"
                     alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
            </a>
        </figure>
        <iframe width="100%" height="auto" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display: none; pointer-events: all !important;" class="productView-image" data-img-video-gallery-main></iframe>
        <ul class="productView-thumbnails"{{#gt product.images.length 5}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "slidesToShow": 5,
                "slidesToScroll": 1
            }'{{/gt}}>
            {{#each product.images}}
                <li class="productView-thumbnail">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                        <img src="{{getImage this 'productthumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>

    <section class="productView-details">
        <div class="productView-options">
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>

                <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        <span data-stock-label>{{lang 'products.current_stock'}}</span>
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div>

                <hr>

                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                {{#if breadcrumbs.[1].name '===' 'Men'}}            
                <a class="color-chart-wrap" target="_blank" href="/mens-color-chart/">
                    <img src="/content/images/common/palette.svg" alt="color chart" loading="lazy">
                    <span>Color Chart</span>
                </a>
                {{else}}
                    {{#if breadcrumbs.[1].name '===' 'Women'}}            
                    <a class="color-chart-wrap" target="_blank" href="/womens-color-chart/">
                        <img src="/content/images/common/palette.svg" alt="color chart" loading="lazy">
                        <span>Color Chart</span>
                    </a>
                    {{/if}}
                {{/if}}
                    {{#each product.customizations}}
                        {{{dynamicComponent 'components/products/customizations'}}}
                    {{/each}}
                <div data-product-option-change style="display:none;">
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                {{#if product.event_date}}
                    {{> components/products/event-date}}
                {{/if}}


{{!--
                
                <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div>
                
--}}

                
                {{#if product.can_purchase}}
                    {{> components/products/add-to-cart}}
                {{else}}                    
                    {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                        {{> components/common/alert-error product.out_of_stock_message}}
                    {{else}}
                        {{> components/common/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                {{/if}}
                    <div class="form-action button--not-purchase-wrap">
                        <input class="button button--primary" type="button"
                            value="{{lang 'products.add_to_cart'}}" disabled>
                    </div>

                {{/if}}

            </form>
            {{#if settings.show_wishlist}}                

                <form class="form" method="post" action="{{product.add_to_wishlist_url}}" data-wishlist-add>
                    <div class="form-action">
                        <input type="hidden" name="variation_id" value="">
                        <input class="button" type="submit" value="{{lang 'account.wishlists.add_item'}}">
                    </div>
                </form>
            {{/if}}            
            {{inject "product_id" product.id}}            
            <br/>
            {{inject "customer" customer}}
            <div class="btn-book-wrap">
                {{#if breadcrumbs.[1].name '==' 'Men'}}
                    {{#contains product.sku 'BF'}}
                    {{else}}
                      {{#contains product.sku 'PRO'}} 
                        {{else}}
                        <div class="btn-book" data-book-sku = '{{product.sku}}' data-book-name='{{product.title}}' data-book-id="4644">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"/></svg>{{lang 'products.pre_order'}}
                            <span>
                                <img src="/product_images/uploaded_images/question-tooltip.png" class="tooltip-help"/>
                            </span>
                            <span class="tooltiptext">Pre-orders may take a few months to get delivered (3-4 months for Lace units, 6-9 months for M103, M107, M110) but you are guaranteed to receive your item.</span>
                        </div>
                        {{/contains}}
                    {{/contains}}


                {{else}}
                    {{#if breadcrumbs.[1].name '==' 'Women'}}
                    <div class="btn-book" data-book-sku = '{{product.sku}}' data-book-name='{{product.title}}' data-book-id="4708">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"/></svg>{{lang 'products.pre_order'}}
                        <span>
                            <img src="/product_images/uploaded_images/question-tooltip.png" alt="Question Tooltip" class="tooltip-help"/>
                        </span>
                        <span class="tooltiptext">Pre-orders may take a few months to get delivered (3-4 months for Lace units, 6-9 months for M103, M107, M110) but you are guaranteed to receive your item.</span>
                    </div>                    
                    {{/if}}
                {{/if}}
                <div class="btn-book-more" data-book-sku = '{{product.sku}}' data-book-name='{{product.title}}' data-book-id="0" {{#if customer}}data-book-customer="exist"{{/if}}>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z"/></svg>In-Stock Alert                    
                    <span>
                        <img src="/product_images/uploaded_images/question-tooltip.png" alt="Question Tooltip" class="tooltip-help"/>
                    </span>
                    <span class="tooltiptext">Sign up to be notified when this item is available. Please monitor your email frequently and act fast to place the order.</span>
                </div>                
            </div>            
            <script>
                var jsContext = JSON.parse({{jsContext}});                
            </script>
            <script src="/content/js/product-view.us.min.js" defer></script>
            {{#if product.can_purchase}}
            {{else}}                
                <script>                    
                    document.querySelector(".btn-book")&&(document.querySelector(".btn-book").style.display="block");
                </script>
            {{/if}}
        </div>
        {{> components/common/share}}
        {{{snippet 'product_details'}}}
    </section>
    <section class="delivery-wrap">
        <label class="form-label form-label--alternate">
            Earliest Ship Out Time
            <span class="deliver-tooltip" data-content="The following is the earliest shipping time for one unit of the displayed hairpieces and colors.&#xa;&#xa;How to read SKUs: [Model number][Color code][Grey percentage]&#xa;Example: M101#1710: Model M101, Color #17, Grey percentage 10%" ><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" class="svg-inline--fa fa-info-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg></span>
        </label>                
    </section>
    <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>
        {{#if theme_settings.show_product_details_tabs}}
            {{> components/products/description-tabs}}
        {{else}}
            {{> components/products/description}}
        {{/if}}
    </article>
</div>

<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
<script>
    function xcopy(str){        
        var oInput = document.createElement('input');
        oInput.value = str;
        oInput.className = 'oInput';
        document.body.appendChild(oInput);
        oInput.select();
        document.execCommand("Copy");
        oInput.style.display='none';
        oInput.parentNode.removeChild(oInput);           
        $("picture[before]").hide();
        $("picture[after]").show()
    }
</script>
